<form class="form-feedback">
  <input type="text" class="form-control js-phone-input" id="feedbackFormPhone" placeholder="Ваш телефон +7:">
  <button type="button" class="btn btn-success">Отправить</button>
</form>