<form class="form-feedback webform-submission-form webform-submission-add-form webform-submission-feedback-webform-form webform-submission-feedback-webform-add-form js-webform-details-toggle webform-details-toggle contextual-region" data-drupal-selector="webform-submission-feedback-webform-add-form" action="/portfolio" method="post" id="webform-submission-feedback-webform-add-form" accept-charset="UTF-8" data-once="form-updated webform-details-toggle" data-drupal-form-fields="edit-phone-number,edit-communication-method-radios-call-method,edit-communication-method-radios-whatsapp-method,edit-communication-method-radios-telegram-method,edit-communication-method-radios-other-,edit-communication-method-other,edit-submit">
  <div class="js-form-item form-item js-form-type-textfield form-item-phone-number js-form-item-phone-number">
    <label for="edit-phone-number" class="js-form-required form-required">Ваш телефон</label>
    <input data-webform-required-error="Это поле обязательно к заполнению" data-drupal-selector="edit-phone-number" type="text" id="edit-phone-number" name="phone_number" value="" size="60" maxlength="255" placeholder="+7" class="form-text error required js-phone-input" required="required" aria-required="true" data-once="webform-required-error">
  </div>

  <fieldset data-drupal-selector="edit-communication-method" class="js-webform-radios-other webform-radios-other webform-radios-other--wrapper fieldgroup form-composite webform-composite-visible-title required js-webform-type-webform-radios-other webform-type-webform-radios-other js-form-item form-item js-form-wrapper form-wrapper" id="edit-communication-method" data-once="webform-radios-required webform-radios-other">
    <legend id="edit-communication-method-legend">
      <span class="fieldset-legend js-form-required form-required">Как с вами связаться</span>
    </legend>
    <div class="fieldset-wrapper">
      <div id="edit-communication-method-radios" class="js-webform-radios webform-options-display-one-column">
        <div class="js-form-item form-item js-form-type-radio form-item-communication-method-radios js-form-item-communication-method-radios">
          <input data-drupal-selector="edit-communication-method-radios-call-method" type="radio" id="edit-communication-method-radios-call-method" name="communication_method[radios]" value="call_method" class="form-radio" required="required">
          <label for="edit-communication-method-radios-call-method" class="option">Звонок</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-item-communication-method-radios js-form-item-communication-method-radios">
          <input data-drupal-selector="edit-communication-method-radios-whatsapp-method" type="radio" id="edit-communication-method-radios-whatsapp-method" name="communication_method[radios]" value="whatsapp_method" class="form-radio" required="required">
          <label for="edit-communication-method-radios-whatsapp-method" class="option">WhatsApp</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-item-communication-method-radios js-form-item-communication-method-radios">
          <input data-drupal-selector="edit-communication-method-radios-telegram-method" type="radio" id="edit-communication-method-radios-telegram-method" name="communication_method[radios]" value="telegram_method" class="form-radio error" required="required">
          <label for="edit-communication-method-radios-telegram-method" class="option">Telegram</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-item-communication-method-radios js-form-item-communication-method-radios">
          <input data-drupal-selector="edit-communication-method-radios-other-" type="radio" id="edit-communication-method-radios-other-" name="communication_method[radios]" value="_other_" class="form-radio" required="required">
          <label for="edit-communication-method-radios-other-" class="option">Другое...</label>
        </div>
      </div>
      <div class="js-webform-radios-other-input webform-radios-other-input js-form-item form-item js-form-type-textfield form-item-communication-method-other js-form-item-communication-method-other form-no-label" style="display: none;">
        <label for="edit-communication-method-other" class="visually-hidden">Введите другое…</label>
        <input data-drupal-selector="edit-communication-method-other" type="text" id="edit-communication-method-other" name="communication_method[other]" value="" size="60" maxlength="255" placeholder="Введите другое…" class="form-text">
      </div>
    </div>
  </fieldset>
  <input data-drupal-selector="form-uywfw-wgouyzhpkobifb-cory29frcsb-16pk-7lhyo" type="hidden" name="form_build_id" value="form-uYWFW-wGOUyzHpKoBIFb-cOry29frcSb-16pk-7LhYo">
  <input data-drupal-selector="edit-webform-submission-feedback-webform-add-form-form-token" type="hidden" name="form_token" value="nt37ZietR-qXf0HOaQzkwHE43cpSS3pU9f-clqh8NoQ">
  <input data-drupal-selector="edit-webform-submission-feedback-webform-add-form" type="hidden" name="form_id" value="webform_submission_feedback_webform_add_form">
  <input class="btn btn-success webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" data-disable-refocus="true" type="submit" id="edit-submit" name="op" value="Отправить" data-once="drupal-ajax">
</form>
<div class="form-feedback__privacy">
  Нажимая на кнопку, вы даёте согласие на<br>
  <a href="">обработку персональных данных</a>,<br>
  а также подтверждаете, что ознакомлены с<br>
  <a href="">условиями пользовательского соглашения</a>
</div>
