<form class="form-feedback">
  <div class="form-group">
    <label class="form-label" for="feedbackFormPhone">Ваш телефон:</label>
    <div class="input-group">
      <input type="text" class="form-control js-phone-input" id="feedbackFormPhone" placeholder="+7" autocomplete="off" required>
      <span class="input-group-text">
        <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 22C1.45 22 0.979167 21.8042 0.5875 21.4125C0.195833 21.0208 0 20.55 0 20V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H12C12.55 0 13.0208 0.195833 13.4125 0.5875C13.8042 0.979167 14 1.45 14 2V20C14 20.55 13.8042 21.0208 13.4125 21.4125C13.0208 21.8042 12.55 22 12 22H2ZM2 19V20H12V19H2ZM2 17H12V5H2V17ZM2 3H12V2H2V3Z" fill="#8A8E9A"/>
        </svg>
      </span>
    </div>
    
  </div>
  <div class="form-group">
    <label class="form-label">Как с вами связаться:</label>
    <div class="form-feedback__buttons">
      <input type="radio" class="btn btn-check" name="feedbackVariables" id="feedbackCall" autocomplete="off" checked>
      <label for="feedbackCall" class="btn btn-default">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.975 12.0938L15.2484 15.2438C15.1464 15.6891 14.755 16.0006 14.2966 16.0006C6.4125 16 0 9.5875 0 1.70313C0 1.245 0.311531 0.853126 0.756875 0.751563L3.90687 0.0250008C4.36562 -0.0813117 4.83437 0.156813 5.025 0.591251L6.47875 3.98188C6.64869 4.38125 6.53406 4.84656 6.19812 5.12094L4.51562 6.47188C5.5775 8.635 7.33625 10.3938 9.5 11.4563L10.8775 9.775C11.149 9.43813 11.6178 9.32156 12.0172 9.49453L15.4078 10.948C15.8156 11.1625 16.0813 11.6375 15.975 12.0938Z" fill="#2A2E3A"/>
        </svg>
        Звонок
      </label>
      <input type="radio" class="btn btn-check" name="feedbackVariables" id="feedbackWhatsapp" autocomplete="off">
      <label for="feedbackWhatsapp" class="btn btn-default">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z" fill="#25D366"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99847 2.66666L8.00157 2.66675C10.9417 2.66675 13.3334 5.05904 13.3334 8.00004C13.3334 10.941 10.9417 13.3333 8.00157 13.3333C6.91701 13.3333 5.91082 13.0104 5.06768 12.4523L3.01771 13.1075L3.68225 11.126C3.04283 10.248 2.66669 9.16632 2.66669 7.99995C2.66669 5.05895 5.0583 2.66666 7.99847 2.66666ZM6.50954 5.37574C6.40613 5.12806 6.32775 5.11868 6.17108 5.11231C6.11774 5.10921 6.05829 5.10611 5.99238 5.10611C5.78856 5.10611 5.57546 5.16567 5.44692 5.29734C5.29025 5.45724 4.90154 5.8303 4.90154 6.59538C4.90154 7.36045 5.45948 8.10039 5.53467 8.20392C5.61305 8.30727 6.62242 9.90007 8.18964 10.5492C9.41522 11.0571 9.77889 11.0101 10.0578 10.9505C10.4653 10.8627 10.9762 10.5616 11.1048 10.198C11.2333 9.83423 11.2333 9.52381 11.1956 9.45798C11.158 9.39214 11.0545 9.35462 10.8979 9.27613C10.7412 9.19773 9.97944 8.82148 9.83524 8.77131C9.69414 8.71804 9.55941 8.73689 9.4529 8.8874C9.30242 9.09748 9.15513 9.31073 9.03597 9.43922C8.94194 9.53956 8.78827 9.55213 8.65983 9.49877C8.48741 9.42674 8.00475 9.25729 7.40913 8.72742C6.94832 8.31674 6.6349 7.80572 6.54404 7.6521C6.4531 7.49539 6.53467 7.40434 6.60668 7.31974C6.68505 7.22249 6.76025 7.15356 6.83863 7.06259C6.91701 6.97172 6.96088 6.92464 7.01104 6.81801C7.06439 6.71457 7.0267 6.60794 6.9891 6.52954C6.95151 6.45114 6.63808 5.68607 6.50954 5.37574Z" fill="white"/>
        </svg>
        WhatsApp
      </label>
      <input type="radio" class="btn btn-check" name="feedbackVariables" id="feedbackTelegram" autocomplete="off">
      <label for="feedbackTelegram" class="btn btn-default">
        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.9544 1.18346L13.5399 12.2153C13.3577 12.9939 12.8827 13.1876 12.2076 12.8209L8.5287 10.1944L6.7536 11.8485C6.55721 12.0388 6.39286 12.198 6.01426 12.198L6.27853 8.56797L13.097 2.59875C13.3935 2.34271 13.0327 2.20081 12.6363 2.45688L4.20695 7.59904L0.578034 6.49866C-0.211324 6.25987 -0.225585 5.73387 0.742313 5.3671L14.9365 0.0692267C15.5936 -0.169526 16.1687 0.211063 15.9544 1.18346Z" fill="#20A0E1"/>
        </svg>
        Telegram
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Отправить</button>
  <div class="form-feedback__privacy">
    Нажимая на кнопку, вы даёте согласие на<br>
    <a href="">обработку персональных данных</a>,<br>
    а также подтверждаете, что ознакомлены с<br>
    <a href="">условиями пользовательского соглашения</a>
  </div>
</form>