<div class="materials-components">
  <ul class="list-horizontal materials-components__list">
    <li>
      <div class="name">Цемент</div>
      <div class="value">М 500 Д-0. Поставщик — ЗАО «ЕВРОЦЕМЕНТ груп»;</div>
    </li>
    <li>
      <div class="name">Заполнители</div>
      <div class="value">гранитный щебень фракции от 3-10мм, крупномодульный песок;</div>
    </li>
    <li>
      <div class="name">Модифицирующие добавки</div>
      <div class="value">концерна BASF (Германия);</div>
    </li>
    <li>
      <div class="name">Пигменты</div>
      <div class="value">Bayferrox концерна Lanxess (Германия).</div>
    </li>
  </ul>
  <h3>Технические характеристики</h3>
  <div class="table-wrapper">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ГОСТ 17608-2017</th>
          <th>Показатели нашей продукции</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Класс бетона плит по прочности на сжатие, не менее</th>
          <td>В25</td>
          <td>В45</td>
        </tr>
        <tr>
          <th>Класс бетона плит по прочности на растяжение при изгибе, не менее</th>
          <td>Ввtв 3,6</td>
          <td>Ввtв 4,0</td>
        </tr>
        <tr>
          <th>Марка бетона по морозостойкости (замораживание при -20 С и оттаивание в воде при +20 С)</th>
          <td>F 200</td>
          <td>F 200</td>
        </tr>
        <tr>
          <th>Водопоглощение бетона плит по массе, не более</th>
          <td>6%</td>
          <td>4,1%</td>
        </tr>
        <tr>
          <th>Марка по истераемости бетона, не более</th>
          <td>G2 0,8 г/см</td>
          <td>G1 0,7 г/см</td>
        </tr>
        <tr>
          <th>Отклонение геометрических параметров</th>
          <td>+/- 4 мм</td>
          <td>+/- 4 мм</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="note">Гранитный щебень фракции 5 – 10мм, гранитный ПЩС фракции 0 – 5мм, крупномодульный песок фракции 2 – 3мм;</div>  
</div>
