<aside class="page__aside">
  <nav class="left-nav">
    <ul class="left-nav__list">
      <li class="left-nav__item">
        <a href="" class="left-nav__link">Вибролитьевая тротуарная плитка</a>
        <ul class="left-nav__submenu">
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Старинная мостовая</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Булыжный кирпич</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Европа</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Клинкерная брусчатка</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Кирпич гладкий</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Доска</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Тучка</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Пеньки</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Ступень</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Калифорния рваная</a></li>
          <li class="left-nav__submenu-item"><a href="" class="left-nav__submenu-link">Брусчатка</a></li>
        </ul>
      </li>
      <li class="left-nav__item"><a href="" class="left-nav__link">Вибролитьевой бордюр</a></li>
      <li class="left-nav__item"><a href="" class="left-nav__link">Вибропрессованная тротуарная плитка</a></li>
      <li class="left-nav__item"><a href="" class="left-nav__link">Вибропрессованный бордюр</a></li>
    </ul>
  </nav>
</aside>