<div class="block-certificates">
  <h2>Сертификаты</h2>
  <div class="row gap-15">
    <figure>
      <a class="border" href="/sites/default/files/certificates/quality_certificate_2024.pdf" target="newtab"><img src="/src/img/quality_certificate_2024.webp" alt="Сертификат соответствия"></a>
      <figcaption>2024 год</figcaption>
    </figure>
    <figure>
      <a class="border" href="/sites/default/files/certificates/quality_certificate_2023.pdf" target="newtab"><img src="/src/img/quality_certificate_2023.webp" alt="Сертификат соответствия"></a>
      <figcaption>2023 год</figcaption>
    </figure>
  </div>
</div>