<section class="ratings-block">
  <div class="container">
    <h2 class="ratings-block__heading">Независимые рейтинги</h2>
    <p>Узнайте отзывы о нашей компнаии, перейдя на соответствующий ресурс.</p>
    <div class="ratings-block__items">
      <div class="ratings-block__item">
        <a href="https://yandex.ru/maps/org/flag_stoun_ofis/1104375806/reviews/?ll=37.596663%2C55.784509&z=15" target="newtab">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 1a9.002 9.002 0 0 0-6.366 15.362c1.63 1.63 5.466 3.988 5.693 6.465.034.37.303.673.673.673.37 0 .64-.303.673-.673.227-2.477 4.06-4.831 5.689-6.46A9.002 9.002 0 0 0 12 1zm0 12.079a3.079 3.079 0 1 1 0-6.158 3.079 3.079 0 0 1 0 6.158z" fill="#F43"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="99" height="32" viewBox="0 0 99 32">
            <path d="M5.475 16.506L2.583 23H.474l3.176-6.944a4.516 4.516 0 0 1-1.801-1.671c-.459-.735-.688-1.734-.688-2.998 0-.885.13-1.663.391-2.334.261-.672.617-1.229 1.067-1.671.45-.443.975-.774 1.576-.996a5.44 5.44 0 0 1 1.896-.332h2.725V23H6.992v-6.494H5.475zm1.517-8.911H6.02c-.364 0-.72.067-1.067.201a2.441 2.441 0 0 0-.924.64c-.269.293-.486.68-.652 1.162-.166.482-.249 1.078-.249 1.789 0 .68.075 1.248.226 1.706.15.459.355.83.616 1.114.26.285.569.486.924.605.356.118.73.177 1.126.177h.972V7.595z">
            </path>
            <path d="M17.61 11.055V23h-1.826v-5.356h-2.749V23h-1.849V11.055h1.849v5.072h2.75v-5.072h1.824zm9.503 14.291h-1.66V23h-5.118v2.346h-1.66v-3.863h.735c.269-.632.482-1.33.64-2.097.158-.767.28-1.557.368-2.37.086-.814.142-1.643.165-2.489.024-.845.036-1.663.036-2.453v-1.019h5.546v10.428h.948v3.863zM24.34 12.548h-2.062v.214c0 .632-.012 1.323-.036 2.073-.023.75-.075 1.513-.154 2.287-.079.775-.19 1.537-.331 2.287a11.18 11.18 0 0 1-.593 2.074h3.176v-8.935zm10.807 9.646c-.38.3-.814.537-1.303.711-.49.174-1.035.26-1.636.26-1.232 0-2.204-.477-2.915-1.433-.71-.956-1.066-2.358-1.066-4.207 0-.964.067-1.848.201-2.654.134-.806.348-1.505.64-2.098.292-.592.668-1.054 1.126-1.386.458-.332 1.003-.498 1.635-.498.49 0 .94.099 1.351.297.41.197.758.517 1.043.96.284.442.505 1.015.663 1.718.158.703.237 1.56.237 2.571v1.02h-4.977c0 1.358.186 2.385.557 3.08.372.695.929 1.043 1.671 1.043.522 0 .984-.09 1.387-.273.403-.181.722-.359.96-.533l.426 1.422zm-3.318-9.788c-.569 0-.972.32-1.209.96-.237.64-.387 1.497-.45 2.571h3.057c0-.505-.023-.975-.07-1.41a5.66 5.66 0 0 0-.226-1.126c-.103-.316-.245-.56-.426-.734a.94.94 0 0 0-.676-.26zm7.039 4.645V23h-1.849V11.055h1.849v5.522l2.868-5.522h1.872l-2.962 5.617L44.035 23H42.02l-3.152-5.949zm9.504 6.115c-1.28 0-2.283-.51-3.01-1.529-.727-1.019-1.09-2.555-1.09-4.61 0-.932.09-1.777.272-2.535.182-.759.45-1.403.806-1.932a3.8 3.8 0 0 1 1.327-1.232c.53-.293 1.142-.439 1.837-.439.537 0 .972.06 1.303.178.332.119.632.265.901.438l-.26 1.754a4.018 4.018 0 0 0-.89-.58c-.34-.166-.699-.25-1.078-.25-.663 0-1.208.372-1.635 1.115-.427.742-.64 1.872-.64 3.389 0 1.5.178 2.658.533 3.472.356.814.913 1.22 1.671 1.22.458 0 .853-.075 1.185-.225.332-.15.608-.32.83-.51l.426 1.375a4.066 4.066 0 0 1-1.066.652c-.395.166-.87.249-1.422.249zm9.361-9.1V23h-1.185V6.054h1.185v7.916l4.954-7.916h1.137l-4.882 7.821L64.25 23h-1.327l-5.19-8.935zM70.58 23a9.29 9.29 0 0 1-.154-.604 7.227 7.227 0 0 1-.13-1.008c-.285.57-.64 1.02-1.067 1.351-.427.332-.94.498-1.54.498-.807 0-1.462-.304-1.968-.912-.506-.609-.758-1.458-.758-2.548 0-1.28.34-2.248 1.019-2.903.68-.656 1.667-.984 2.962-.984h1.304v-1.493c0-.917-.166-1.58-.498-1.99-.332-.412-.83-.617-1.493-.617-.506 0-.98.114-1.422.344-.442.229-.806.549-1.09.96l-.308-1.067c.237-.316.596-.597 1.078-.841.482-.245 1.063-.368 1.742-.368.995 0 1.758.28 2.287.842.53.56.794 1.433.794 2.618v6.518c0 .41.024.825.071 1.244.048.419.11.739.19.96h-1.02zm-2.655-.664c.553 0 1.023-.229 1.41-.687a5.086 5.086 0 0 0 .913-1.659v-3.294h-1.28c-.995 0-1.73.237-2.204.71-.474.475-.711 1.233-.711 2.276 0 .853.17 1.509.51 1.967.34.458.793.687 1.362.687zm9.22.877c-.459 0-.873-.098-1.245-.296a2.594 2.594 0 0 1-.888-.747v4.527h-1.114V11.055h.971l.095 1.967a5.545 5.545 0 0 1 1.067-1.528c.442-.45.995-.676 1.659-.676.49 0 .932.142 1.327.427.395.284.727.683.995 1.197.269.513.474 1.13.616 1.848.143.72.214 1.513.214 2.382 0 2.196-.34 3.836-1.02 4.918-.679 1.082-1.571 1.623-2.677 1.623zm.07-.877c.759 0 1.367-.454 1.826-1.362.458-.909.687-2.311.687-4.207 0-1.58-.198-2.805-.593-3.674-.395-.869-.94-1.303-1.635-1.303a1.58 1.58 0 0 0-.77.201 2.88 2.88 0 0 0-.688.534 4.183 4.183 0 0 0-.58.77 6.522 6.522 0 0 0-.45.912v6.684c.237.49.529.853.876 1.09.348.237.79.355 1.328.355zm8.32-10.357V23h-1.115V11.98h-2.772v-.925h6.636v.924h-2.75zm4.526-.924h1.114v4.432h.877c1.137 0 2.046.308 2.725.924.68.617 1.02 1.549 1.02 2.797 0 1.264-.356 2.212-1.067 2.844-.711.632-1.627.948-2.75.948H90.06V11.055zm1.114 5.309v5.76h.71c.838 0 1.518-.226 2.04-.676.52-.45.781-1.19.781-2.216 0-1.012-.237-1.742-.71-2.193-.475-.45-1.138-.675-1.992-.675h-.83zM98.165 23h-1.09V11.055h1.09V23z">
            </path>
          </svg>
        </a>
        <div class="ratings-block__rating">
          <div class="ratings-block__stars">
            <span class="ratings-block__stars-empty"></span>
            <span class="ratings-block__stars-active" style="width: {{ 4.3 * 100 / 5 }}%"></span>
          </div>
          <strong>4.3</strong>
        </div>
      </div>
      <div class="ratings-block__item">
        <a href="https://maps.app.goo.gl/nx779JKDXRZRDgiA9" target="newtab">
          <img src="/src/img/icons/google.svg" alt="Рейтинг Гугл">
        </a>
        <div class="ratings-block__rating">
          <div class="ratings-block__stars">
            <span class="ratings-block__stars-empty"></span>
            <span class="ratings-block__stars-active" style="width: {{ 4.6 * 100 / 5 }}%"></span>
          </div>
          <strong>4.6</strong>
        </div>
      </div>
      <div class="ratings-block__item">
        <a href="https://2gis.ru/samara/firm/2533803071812198/tab/reviews" target="newtab">
          <img src="/src/img/icons/2gis.svg" alt="Рейтинг 2 Гис">
        </a>
        <div class="ratings-block__rating">
          <div class="ratings-block__stars">
            <span class="ratings-block__stars-empty"></span>
            <span class="ratings-block__stars-active" style="width: {{ 4.6 * 100 / 5 }}%"></span>
          </div>
          <strong>4.6</strong>
        </div>
      </div>
      <div class="ratings-block__item">
        <a href="https://samara.zoon.ru/building/proizvodstvenno-kommercheskaya_firma_flag_stoun_art/" target="newtab">
          <img style="height: 20px;" src="/src/img/icons/zoon.svg" alt="Рейтинг Zoon">
        </a>
        <div class="ratings-block__rating">
          <div class="ratings-block__stars">
            <span class="ratings-block__stars-empty"></span>
            <span class="ratings-block__stars-active" style="width: {{ 4.2 * 100 / 5 }}%"></span>
          </div>
          <strong>4.2</strong>
        </div>
      </div>
    </div>
  </div>
</section>