<div class="laying-tiles">
  <p>При заключении договора замер и выезд специалиста <strong>БЕСПЛАТНО</strong>! На большие объемы <strong>предоставляем скидки</strong>.</p>
  <p>Цена на укладку тротуарной плитки зависит от:</p>
  <ul>
    <li>размера плитки, чем меньше плитка тем дороже;</li>
    <li>от варианта укладки;</li>
    <li>от метража;</li>
    <li>от места нахождения объекта;</li>
    <li>от условий окружающей среды.</li>
  </ul>
  <ul class="list-horizontal">
    <li>
      <div class="name">Укладка плитки</div>
      <div>от 850 до 1050 руб./м<sup>2</sup> на готовое основание.</div>
    </li>
    <li>
      <div class="name">Укладка бордюров</div>
      <div>от 430 – 550 руб. за 1 погонный метр</div>
    </li>
    <li>
      <div class="name">Подготовка основания</div>
      <div>от 430 до 680 руб.</div>
    </li>
  </ul>
</div>