<div class="videos">
  <div class="videos__item">
    <iframe src="https://vkvideo.ru/video_ext.php?oid=-178497959&id=456239027&hd=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
    <p>Как правильно выбрать тротуарную плитку</p>
  </div>
  <div class="videos__item">
    <iframe src="https://vkvideo.ru/video_ext.php?oid=-178497959&id=456239030&hd=1" width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
    <p>Как правильно выбрать производителя</p>
  </div>
</div>