<nav class="products-nav js-products-nav {{ productsNavClass }}">
  <div class="container">
    <button type="button" class="products-nav__close-button js-close-button">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_143_429)">
        <path d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z" fill="#ffffff"/>
        </g>
        <defs>
        <clipPath id="clip0_143_429">
        <rect width="14" height="14" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </button>
    <ul class="products-nav__list">
      <li class="products-nav__item"><a class="products-nav__link" href="">Главная</a></li>
      <li class="products-nav__item">
        <a class="products-nav__link">
          <span>Продукция</span>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_58_173)">
            <path d="M6.0001 7.05999L0.600098 1.65999L1.8601 0.399994L6.0001 4.53999L10.1401 0.399994L11.4001 1.65999L6.0001 7.05999Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_58_173">
            <rect width="12" height="7.2" fill="white" transform="translate(0 0.399994)"/>
            </clipPath>
            </defs>
          </svg>
        </a>
        <ul class="products-nav__submenu">
          <li>
            <a class="products-nav__link" href="">Тротуарная плитка</a>
            <ul>
              <li><a class="products-nav__link" href="">Вибролитьевая</a></li>
              <li><a class="products-nav__link" href="">Вибролитьевой бордюрный камень</a></li>
              <li><a class="products-nav__link" href="">Вибропрессованная</a></li>
              <li><a class="products-nav__link" href="">Вибропрессованный бордюрный камень</a></li>
            </ul>
          </li>
          <li>
            <a class="products-nav__link" href="">Декоративный камень</a>
            <ul>
              <li><a class="products-nav__link" href="">Декоративный кирпич</a></li>
              <li><a class="products-nav__link" href="">Декоративные сланцы</a></li>
              <li><a class="products-nav__link" href="">Обработанные камни</a></li>
              <li><a class="products-nav__link" href="">Фасадные плиты</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="products-nav__item">
        <a class="products-nav__link">
          <span>Все для производства плитки</span>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_58_173)">
            <path d="M6.0001 7.05999L0.600098 1.65999L1.8601 0.399994L6.0001 4.53999L10.1401 0.399994L11.4001 1.65999L6.0001 7.05999Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_58_173">
            <rect width="12" height="7.2" fill="white" transform="translate(0 0.399994)"/>
            </clipPath>
            </defs>
          </svg>							
        </a>
        <ul class="products-nav__submenu">
          <li>
            <a class="products-nav__link" href="">Формы</a>
            <ul>
              <li><a class="products-nav__link" href="">Для декоративного камня</a></li>
              <li><a class="products-nav__link" href="">Для тротуарной плитки</a></li>
              <li><a class="products-nav__link" href="">Для декоративных элементов</a></li>
              <li><a class="products-nav__link" href="">Полиуретановые штампы</a></li>
            </ul>
          </li>
          <li>
            <a class="products-nav__link" href="">Пигменты и химические добавки</a>
            <ul>
              <li><a class="products-nav__link" href="">Пигменты</a></li>
              <li><a class="products-nav__link" href="">Пластификаторы</a></li>
              <li><a class="products-nav__link" href="">Гидрофобизаторы</a></li>
              <li><a class="products-nav__link" href="">Защитные пропитки</a></li>
              <li><a class="products-nav__link" href="">Лак для бетона</a></li>
              <li><a class="products-nav__link" href="">Противоморозные добавки</a></li>
              <li><a class="products-nav__link" href="">Смазка для форм</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="products-nav__item"><a class="products-nav__link" href="">Обучение</a></li>
      <li class="products-nav__item"><a class="products-nav__link" href="">Франшиза</a></li>
    </ul>
  </div>
</nav>