<div class="product-card {{ productCardClass }}">
  <div class="product-card__photos">
    <img src="/src/img/product-photo/4.webp" alt="" loading="lazy">
  </div>
  <div class="product-card__info">
    <div class="product-card__labels">
      <span class="product-card__article">Артикул: Т/64</span> · <span class="product-card__label">ХИТ ПРОДАЖ</span>
    </div>
    <h3 class="product-card__heading">Старинная мостовая</h3>
    <div class="product-card__price">
      <span>Цена за комплект от</span>
      <strong>1000 руб.</strong>
    </div>
    <div class="product-card__reviews">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.4 7.2H7.2V6H2.4V7.2ZM2.4 5.4H9.6V4.2H2.4V5.4ZM2.4 3.6H9.6V2.4H2.4V3.6ZM0 12V1.2C0 0.87 0.1175 0.5875 0.3525 0.3525C0.5875 0.1175 0.87 0 1.2 0H10.8C11.13 0 11.4125 0.1175 11.6475 0.3525C11.8825 0.5875 12 0.87 12 1.2V8.4C12 8.73 11.8825 9.0125 11.6475 9.2475C11.4125 9.4825 11.13 9.6 10.8 9.6H2.4L0 12ZM1.89 8.4H10.8V1.2H1.2V9.075L1.89 8.4Z" fill="#2A2E3A"/>
      </svg>
      <span>Кол-во отзывов:</span> <span class="count">10</span>
    </div>
    <a class="btn btn-success" href="/product-page">Подробнее</a>
  </div>
</div>