<div class="product-card product-card-lg {{ productCardClass }}">
  <div class="product-card-lg__photos">
    <div class="swiper js-photos">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/src/img/product-photo/1.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide">
          <img src="/src/img/product-photo/2.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide" >
          <img src="/src/img/product-photo/3.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="product-card-lg__info">
    <div class="product-card-lg__labels">
      <span class="product-card-lg__year">2013 год</span> &middot; <span class="product-card-lg__location">г. Новокуйбышевск</span>
    </div>
    <h3 class="product-card-lg__heading">ТЦ Космос</h3>
    <p class="product-card-lg__product-name">Старинная мостовая</p>
    
    <footer class="product-card-lg__footer">
      <button type="button" class="btn btn-outline-default">Обсудить</button>
      <a class="btn btn-success" href="/product-page">Перейти в карточку товара</a>
    </footer>
  </div>
</div>