<div class="product-card product-card-lg {{ productCardClass }}">
  <div class="product-card-lg__photos">
    <div class="swiper js-photos">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/src/img/product-photo/1.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide">
          <img src="/src/img/product-photo/2.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <div class="swiper-slide" >
          <img src="/src/img/product-photo/3.webp" alt="" loading="lazy">
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="product-card-lg__info">
    <div class="product-card-lg__labels">
      <span class="product-card-lg__article">Артикул: Т/64</span> · <span class="product-card-lg__label">ХИТ ПРОДАЖ</span>
    </div>
    <h3 class="product-card-lg__heading">Старинная мостовая <small>(цветная)</small></h3>
    <div class="product-card-lg__price">
      <span>Цена за комплект от:</span>
      <strong>1000 руб.</strong>
    </div>
    <div class="product-card-lg__reviews">
      <span>Кол-во отзывов:</span> <span class="count">10</span>
    </div>
    <footer class="product-card-lg__footer">
      <button type="button" class="btn btn-outline-default">Обсудить</button>
      <a class="btn btn-success" href="/product-page">Подробнее</a>
    </footer>
  </div>
</div>