<div class="product-card {{ productCardClass }}">
  <div class="product-card__photos size-auto">
    <img src="/src/img/product-photo/form{{count}}.webp" alt="" loading="lazy">
  </div>
  <div class="product-card__info">
    <div class="product-card__labels">
      <span class="product-card__article">Артикул: Т/64</span> · <span class="product-card__label">ХИТ ПРОДАЖ</span>
    </div>
    <h3 class="product-card__heading">Тучка</h3>
    <div class="product-card__price">
      <span>Цена за штуку от:</span>
      <strong>1000 руб.</strong>
    </div>
    <a class="btn btn-success" href="/product-page">Подробнее</a>
  </div>
</div>