.product-card {
  width: 290px;
  background-color: $white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $xs) {
    width: 100%;
  }

  &__info {
    padding: $col-padding;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__photos {
    height: 222px;
    overflow: hidden;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    flex-shrink: 0;
    text-align: center;

    @media screen and (max-width: $xs) {
      height: 280px
    }

    &.size-auto img {
      max-width: 290px;
      max-height: 222px;

      @media screen and (max-width: $xs) {
        max-width: 380px;
        max-height: 280px;
      }
    }
  }

  &__labels {
    margin-bottom: $col-padding;
    font-size: 14px;
  }

  &__label {
    font-weight: 700;
    color: $red;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: $col-padding;
  }

  &__price {
    color: $blue-light;
    margin-bottom: $col-padding;

    strong {
      display: block;
      font-weight: 700;
      color: $blue-dark;
      font-size: 18px;
    }
  }

  &__reviews {
    color: $blue-light;
    margin-bottom: $col-padding;

    .count {
      color: $blue-dark;
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    margin-top: auto;
  }
}