<a href="/akcii-i-specpredlozheniya" class="banner-new-year">
  <p class="text-danger">Тротуарная плитка и декоративный камень на 2025 год по специальному предложению!</p>
  <p>Если Вы сделаете заказ до <span class="text-danger">31</span> декабря <span class="text-danger">2024</span> года, то мы зафиксируем стоимость плитки в ценах 2024 года.</strong></p>
  <small>При внесении предоплаты от 50 до 70% (в зависимости от конкретной коллекции), хранение продукции <strong>бесплатно</strong> до 15 мая 2025 г. <strong>При 100% оплате вашего заказы мы готовы сделать Вам специальное предложение.</strong></small>
</a>