.list-horizontal {
  margin: 0;
  padding: 0;
  
  li {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;

    @media screen and (max-width: $mobile) {
      display: block;
      margin-bottom: 10px;
    }

    .name {
      width: 200px;
      text-align: right;
      font-weight: 700;

      @media screen and (max-width: $mobile) {
        width: auto;
        text-align-last: left;
      }
    }
  }
}