<div class="delivery-info">
  <p>Мы оказываем услуги по доставке продукции. Стоимость услуги рассчитывается индивидуально и зависит от объема и тоннажа заказа, адреса доставки, а также от грузоподъемности автомобиля.</p>
  <p><strong>Скачать прайс-лист на доставку:</strong></p>
  <a href="/sites/default/files/prices/dostavka.pdf" target="newtab">
    <svg width="100" height="124" viewBox="0 0 100 124" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_340_641)">
      <path d="M90 124H10C4.486 124 0 119.514 0 114V10C0 4.486 4.486 0 10 0H50.687C53.358 0 55.87 1.041 57.757 2.929L97.071 42.243C98.96 44.132 100 46.642 100 49.313V114C100 119.514 95.514 124 90 124ZM10 4C6.691 4 4 6.691 4 10V114C4 117.309 6.691 120 10 120H90C93.309 120 96 117.309 96 114V49.313C96 47.734 95.359 46.188 94.243 45.071L54.929 5.757C53.796 4.624 52.289 4 50.687 4H10Z" fill="#FD4233"/>
      <path d="M81.21 78.32C81.14 77.81 80.73 77.17 80.29 76.74C79.03 75.5 76.26 74.85 72.04 74.79C69.18 74.76 65.74 75.01 62.12 75.52C60.5 74.59 58.83 73.57 57.52 72.34C53.99 69.05 51.05 64.48 49.21 59.45C49.33 58.98 49.43 58.57 49.53 58.15C49.53 58.15 51.51 46.87 50.99 43.05C50.92 42.53 50.87 42.38 50.73 41.97L50.56 41.53C50.02 40.28 48.96 38.96 47.3 39.03L46.32 39H46.3C44.44 39 42.94 39.95 42.54 41.36C41.34 45.8 42.58 52.45 44.83 61.05L44.25 62.45C42.64 66.39 40.62 70.35 38.84 73.84L38.61 74.29C36.73 77.96 35.03 81.08 33.48 83.72L31.89 84.56C31.77 84.62 29.04 86.07 28.4 86.45C22.97 89.7 19.37 93.38 18.77 96.3C18.58 97.24 18.72 98.43 19.69 98.98L21.23 99.76C21.9 100.09 22.61 100.26 23.33 100.26C27.2 100.26 31.69 95.44 37.88 84.64C45.02 82.32 53.16 80.38 60.29 79.32C65.72 82.37 72.4 84.5 76.62 84.5C77.37 84.5 78.02 84.43 78.54 84.29C79.35 84.07 80.03 83.61 80.45 82.99C81.27 81.76 81.43 80.06 81.21 78.32ZM22.49 97.33C23.19 95.4 25.99 91.58 30.12 88.2C30.38 87.99 31.02 87.39 31.6 86.83C27.28 93.72 24.39 96.46 22.49 97.33ZM46.95 41C48.19 41 48.9 44.13 48.96 47.07C49.02 50.01 48.33 52.07 47.48 53.6C46.77 51.34 46.43 47.78 46.43 45.45C46.43 45.45 46.38 41 46.95 41ZM39.65 81.14C40.52 79.59 41.42 77.95 42.34 76.22C44.59 71.97 46.01 68.65 47.06 65.92C49.16 69.74 51.78 72.99 54.85 75.59C55.24 75.91 55.65 76.24 56.07 76.57C49.82 77.8 44.41 79.31 39.65 81.14ZM79.08 80.79C78.7 81.02 77.61 81.16 76.91 81.16C74.65 81.16 71.84 80.13 67.91 78.44C69.42 78.33 70.81 78.27 72.05 78.27C74.32 78.27 74.99 78.26 77.22 78.83C79.44 79.4 79.47 80.55 79.08 80.79Z" fill="#FF402F"/>
      </g>
      <defs>
      <clipPath id="clip0_340_641">
      <rect width="100" height="124" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </a>
  <a href="/sites/default/files/prices/dostavka.docx">
    <svg width="100" height="124" viewBox="0 0 100 124" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_340_612)">
      <path d="M90 124H10C4.5 124 0 119.5 0 114V10C0 4.5 4.5 0 10 0H50.7C53.4 0 55.9 1 57.8 2.9L97.1 42.2C99 44.1 100 46.6 100 49.3V114C100 119.5 95.5 124 90 124ZM10 4C6.7 4 4 6.7 4 10V114C4 117.3 6.7 120 10 120H90C93.3 120 96 117.3 96 114V49.3C96 47.7 95.4 46.2 94.2 45.1L54.9 5.8C53.8 4.6 52.3 4 50.7 4H10Z" fill="#1D409D"/>
      <path d="M64.7 94H56.4L51.8 76C51.6 75.4 51.3 74 50.9 72C50.5 70 50.2 68.6 50.2 68C50.1 68.8 49.9 70.1999 49.5 72.0999C49.1 73.9999 48.8 75.2999 48.6 76.0999L44 94H35.7L27 59.7H34.1L38.5 78.4C39.3 81.9 39.8 84.8 40.2 87.4C40.3 86.5 40.5 85.1 40.8 83.3C41.1 81.5 41.5 80 41.7 79L46.7 59.7999H53.6L58.6 79C58.8 79.9 59.1 81.2 59.4 82.9C59.7 84.6 60 86.2 60.2 87.4C60.4 86.2 60.6 84.7 61 82.8C61.4 80.9 61.7 79.5 61.9 78.4L66.3 59.7H73.4L64.7 94Z" fill="#1D409D"/>
      </g>
      <defs>
      <clipPath id="clip0_340_612">
      <rect width="100" height="124" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </a>
</div>