.product-heading {
  display: none;
  align-items: center;
  gap: $col-padding;

  a {
    display: none;
    line-height: 0;
  }

  @media screen and (max-width: $mobile) {
    display: flex;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: $blue-dark;
    color: white;
    padding: 0 $col-padding;
    font-size: 18px;

    a {
      display: block;
    }

    &__badge {
      margin-left: auto;
    }

    &__title {
      display: block!important;
      margin: 0!important;
      font-size: 18px;
      font-weight: normal;
      span {
        display: none;
      }
    }
  }
}