.product-heading {
  display: flex;
  align-items: center;
  gap: $col-padding;

  svg {
    display: none;
  }

  @media screen and (max-width: $mobile) {
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: $blue-dark;
    color: white;
    padding: 0 $col-padding;
    font-size: 18px;

    svg {
      display: block;
    }

    &__badge {
      margin-left: auto;
    }

    &__title {

      span {
        display: none;
      }
    }
  }
}