<section class="product-info">
  <div class="product-info__top">
    <div class="product-info__top-left">
      <div class="product-info__photo">
        <!-- Slider main container -->
        <div class="swiper product-photo">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="/src/img/product-photo/1.webp" alt="" loading="lazy">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide">
              <img src="/src/img/product-photo/2.webp" alt="" loading="lazy">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="swiper-slide" >
              <img src="/src/img/product-photo/3.webp" alt="" loading="lazy">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
  
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      {# <div class="product-info__photo-link">
        <svg width="100" height="58" viewBox="0 0 100 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.932 56.9764H54.8973C54.8973 56.9764 56.6996 56.7773 57.6178 55.7821C58.4669 54.8691 58.4345 53.1538 58.4345 53.1538C58.4345 53.1538 58.3167 45.1275 62.0356 43.9442C65.6983 42.7806 70.4025 51.7038 75.3879 55.1379C79.1565 57.7333 82.0211 57.1647 82.0211 57.1647L95.355 56.9766C95.355 56.9766 102.33 56.5452 99.0234 51.0459C98.7558 50.5965 97.0956 46.9796 89.109 39.5463C80.7477 31.763 81.8697 33.0266 91.941 19.5689C98.0749 11.3733 100.528 6.36784 99.7596 4.2281C99.0295 2.18856 94.5192 2.72705 94.5192 2.72705L79.5182 2.81512C79.5182 2.81512 78.4071 2.66429 77.5782 3.15885C76.772 3.64629 76.2544 4.77307 76.2544 4.77307C76.2544 4.77307 73.8776 11.1164 70.7079 16.5111C64.0249 27.8906 61.3489 28.4917 60.2563 27.784C57.7163 26.1392 58.3538 21.1643 58.3538 17.6358C58.3538 6.60529 60.0201 2.00738 55.1029 0.818889C53.4674 0.424538 52.2701 0.161567 48.0962 0.118471C42.7418 0.0615673 38.2056 0.136881 35.642 1.39399C33.932 2.2327 32.6148 4.10383 33.4199 4.20968C34.4121 4.34127 36.6581 4.81638 37.8504 6.44378C39.392 8.53939 39.3353 13.2574 39.3353 13.2574C39.3353 13.2574 40.2207 26.2381 37.2694 27.8536C35.2412 28.9607 32.4657 26.7011 26.5063 16.3718C23.4554 11.0858 21.1469 5.23521 21.1469 5.23521C21.1469 5.23521 20.704 4.14797 19.9115 3.56575C18.9504 2.85843 17.6021 2.63416 17.6021 2.63416L3.33953 2.72056C3.33953 2.72056 1.19852 2.78437 0.412332 3.71512C-0.285994 4.5486 0.356265 6.2624 0.356265 6.2624C0.356265 6.2624 11.5251 32.4578 24.1678 45.6645C35.7667 57.7712 48.932 56.9764 48.932 56.9764Z" fill="#1F8EEF"/>
        </svg>
        <a href="https://vk.com/flagstoun" target="newtab">В нашем VK еще больше примеров работ и фото. Присоединяйтесь!</a>
      </div> #}
    </div>
    <div class="product-info__description">
      <div class="product-info__price product-price">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 0H14C13.488 0 12.976 0.195 12.586 0.586L0.585994 12.586C-0.195006 13.367 -0.195006 14.633 0.585994 15.414L8.58599 23.414C9.36699 24.195 10.633 24.195 11.414 23.414C11.805 23.023 23.023 11.805 23.414 11.414C23.805 11.024 24 10.512 24 10V4C24 1.791 22.209 0 20 0ZM20 6C18.895 6 18 5.105 18 4C18 2.895 18.895 2 20 2C21.105 2 22 2.895 22 4C22 5.105 21.105 6 20 6Z" fill="#2A2E3A"/>
        </svg>
        Цена за комплект от: <strong>1100.00 <small>руб.</small></strong>
      </div>
      <div class="product-info__short-description product-short-description">
        <p>Абсолютным трендом последнего времени является коллекция, которая с высокой точностью имитирует настоящий природный камень. Стильная и надежная - вот основные эпитеты для коллекции «Старинная мостовая». Ваш двор будет выглядеть, как средневековая мостовая, вымощенная натуральным камнем.  Наша компания сама изготавливает формы для производства тротуарной плитки и поэтому, данную коллекцию брусчатки вы не встретите ни у одного производителя. Выдерживает машину массой 3 тонны.</p>
      </div>
      <div class="product-info__video">
        <video controls poster="">
          <source src="" type="video/webm">
          Ваш браузер не поддерживает встроенные видео :(
        </video>
      </div>
      <ul class="product-info__properties product-properties">
        <li class="product-properties__item">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="11" fill="#2A2E3A"/>
            <path d="M11 17L9 14.3333L9.7 13.4L10.5 14.45V7.55L9.7 8.6L9 7.66667L11 5L13 7.66667L12.3 8.61667L11.5 7.55V14.45L12.3 13.4L13 14.3333L11 17Z" fill="white"/>
          </svg>
          <span>Толщина 30мм</span>
        </li>
        <li class="product-properties__item">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="11" fill="#2A2E3A"/>
            <g clip-path="url(#clip0_58_204)">
            <path d="M9 15.4L5 11.4L6.4 10L9 12.6L15.6 6L17 7.4L9 15.4Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_58_204">
            <rect width="12" height="10" fill="white" transform="translate(5 6)"/>
            </clipPath>
            </defs>
          </svg>
          <span>Выдерживает авто весом не более 3т</span>
        </li>
        <li class="product-properties__item">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="11" r="11" fill="#2A2E3A"/>
            <g clip-path="url(#clip0_58_207)">
            <path d="M12.98 13.82L13.82 12.98L11.6 10.76V8H10.4V11.24L12.98 13.82ZM11 17C10.17 17 9.39 16.8425 8.66 16.5275C7.93 16.2125 7.295 15.785 6.755 15.245C6.215 14.705 5.7875 14.07 5.4725 13.34C5.1575 12.61 5 11.83 5 11C5 10.17 5.1575 9.39 5.4725 8.66C5.7875 7.93 6.215 7.295 6.755 6.755C7.295 6.215 7.93 5.7875 8.66 5.4725C9.39 5.1575 10.17 5 11 5C11.83 5 12.61 5.1575 13.34 5.4725C14.07 5.7875 14.705 6.215 15.245 6.755C15.785 7.295 16.2125 7.93 16.5275 8.66C16.8425 9.39 17 10.17 17 11C17 11.83 16.8425 12.61 16.5275 13.34C16.2125 14.07 15.785 14.705 15.245 15.245C14.705 15.785 14.07 16.2125 13.34 16.5275C12.61 16.8425 11.83 17 11 17ZM11 15.8C12.33 15.8 13.4625 15.3325 14.3975 14.3975C15.3325 13.4625 15.8 12.33 15.8 11C15.8 9.67 15.3325 8.5375 14.3975 7.6025C13.4625 6.6675 12.33 6.2 11 6.2C9.67 6.2 8.5375 6.6675 7.6025 7.6025C6.6675 8.5375 6.2 9.67 6.2 11C6.2 12.33 6.6675 13.4625 7.6025 14.3975C8.5375 15.3325 9.67 15.8 11 15.8Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_58_207">
            <rect width="12" height="12" fill="white" transform="translate(5 5)"/>
            </clipPath>
            </defs>
          </svg>
          <span>Срок эксплуатации не менее 30 лет</span>
        </li>
      </ul>
      <div class="product-info__actions product-actions">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#feedbackModal">Рассчитать стоимость</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal">Получить консультацию</button>
      </div>
    </div>
  </div>
  
  <div class="product-info__accordion accordion" id="accordionExample">
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Размеры и цены
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapseOne" class="accordion__collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Артикул</th>
                <th rowspan="2">Размер плитки, мм</th>
                <th rowspan="2">Кол-во плитки в м<sup>2</sup>, шт.</th>
                <th rowspan="2">Кол-во м<sup>2</sup> на поддоне</th>
                <th rowspan="2">Вес поддна, кг</th>
                <th colspan="2">Цена за м<sup>2</sup>, руб.</th>
              </tr>
              <tr>
                <th>Серая</th>
                <th>Цветная</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>T/64</td>
                <td>Комплект *</td>
                <td>23</td>
                <td>-</td>
                <td>-</td>
                <td><strong>1100.00</strong></td>
                <td><strong>1200.00</strong></td>
              </tr>
              <tr>
                <td>T/64.1</td>
                <td>280x280x30</td>
                <td>12.5</td>
                <td>10</td>
                <td>690</td>
                <td><strong>930.00</strong></td>
                <td><strong>1030.00</strong></td>
              </tr>
              <tr>
                <td>T/64.2</td>
                <td>280x140x30</td>
                <td>25</td>
                <td>10.4</td>
                <td>780</td>
                <td><strong>1080.00</strong></td>
                <td><strong>1180.00</strong></td>
              </tr>
              <tr>
                <td>T/64.3</td>
                <td>140x140x30</td>
                <td>50</td>
                <td>10.4</td>
                <td>1000</td>
                <td><strong>1450.00</strong></td>
                <td><strong>1550.00</strong></td>
              </tr>
            </tbody>
          </table>
          <div class="note">* Комплект – в одном квадратном метре присутствуют все три типа размеров.</div>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Отзывы
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapseTwo" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../reviews/reviews.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Сырьевые компоненты
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapse3" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../materials-components/materials-components.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Доставка
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapse4" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../delivery-info/delivery-info.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Укладка
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapse5" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../laying-tiles/laying-tiles.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Способы оплаты
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapse6" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../payment-methods/payment-methods.twig' %}
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <h2 class="accordion__header">
        <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Сертификаты продукции
        </button>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
        </svg>
      </h2>
      <div id="collapse7" class="accordion__collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion__body">
          {% include '../certificates/certificates.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="product-info__footer">
    <a href="" class="btn btn-outline-default js-back">
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.36875 5.25L7.56875 1.05L6.5 0L0.5 6L6.5 12L7.56875 10.95L3.36875 6.75H12.5V5.25H3.36875Z" fill="#2A2E3A"/>
      </svg>
      Вернуться в каталог
    </a>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#feedbackModal">Рассчитать стоимость</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal">Получить консультацию</button>
  </div>
</section>