.products-menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  span {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
  }
}