// Base
@import '@/components/base.scss';
// Libraries
@import '@nm/swiper/swiper';
@import '@nm/swiper/modules/pagination';
@import '@nm/swiper/modules/navigation';
// Other
@import '@/components/panel/panel.scss';
@import '@/components/check-list/check-list.scss';
@import '@/components/timeline/timeline.scss';
@import '@/components/block-certificates/block-certificates.scss';

.left-nav {
  position: sticky;
  top: 70px;
}

.about-company {

  &__block {
    margin-bottom: 30px;
  }
}

.about {
  display: flex;
  gap: $col-padding;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }

  .check-list {
    margin-bottom: 30px;
  }

  .panel-body {
    p {
      font-style: italic;
      font-weight: 300;
    }
  }

  img {
    width: 262px;
    height: auto;
    display: block;

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}

.advantages {
  .pluses {
    display: flex;
    flex-wrap: wrap;
    gap: $col-padding;

    &__item {
      width: calc(50% - $col-padding);
      position: relative;
      padding-left: 30px;

      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      h3 {
        margin-top: 0;
      }

      svg {
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
}

.staff {
  .photos {
    display: flex;
    gap: 30px;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      flex-shrink: 0;
      margin: 0;
      text-align: center;
      width: calc((100% - $gap * 3) / 4);

      @media screen and (max-width: $mobile) {
        width: 100%;
        max-width: $xs;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        padding: 10px;
        background-color: white;
        border-radius: $border-radius;
      }

      .name {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }
}

.tv {
  .videos {
    display: flex;
    gap: 30px;
    text-align: center;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: calc((100% - $gap * 2)/ 3);

      @media screen and (max-width: $mobile) {
        width: 100%;
        max-width: $xs;
      }
    }

    video,
    iframe {
      margin-bottom: 15px;
      display: block;
      width: 100%;
      height: auto;
    }

    p {
      font-weight: 700;
    }
  }
}

.reviews {
  .panel-body {
    p, footer {
      cursor: default;
    }
  }

  .swiper-pagination-fraction {
    bottom: 0;
    font-size: 14px;
  }
}