{% set title = 'О компании' %}
{% extends 'layouts/main.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/about.scss">
{% endblock %}

{% block content %}
  {% include '/components/about-nav/about-nav.twig' %}
  <main class="page__main main">
    {% include '/components/breadcrumbs/breadcrumbs.twig' %}

    <h1 class="main__heading">О компании</h1>
    <div class="about-company" data-bs-spy="scroll" data-bs-target="#aboutNav" data-bs-smooth-scroll="true">
      <div class="about-company__block about" id="about">
        <div class="col">
          <p>ООО «ПКФ «Флаг стоун Арт» является крупнейшим производителем тротуарной плитки и декоративного искусственного камня в Самарском регионе с 2003 года. За это время компания накопила огромный профессиональный опыт, завоевала доверие и признание покупателей в сфере производства строительных материалов и оборудования.</p>
          <ul class="check-list">
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_313_615)">
                <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"></path>
                </g>
                <defs>
                <clipPath id="clip0_313_615">
                <rect width="20" height="20" fill="white"></rect>
                </clipPath>
                </defs>
              </svg>            
              <strong>Клиентами нашей компании стали более 7350 частных лиц и организаций</strong>
            </li>
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_313_615)">
                <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"></path>
                </g>
                <defs>
                <clipPath id="clip0_313_615">
                <rect width="20" height="20" fill="white"></rect>
                </clipPath>
                </defs>
              </svg>
              <strong>Производственные и складские площади превышают 1 500 кв.м</strong>
            </li>
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_313_615)">
                <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"></path>
                </g>
                <defs>
                <clipPath id="clip0_313_615">
                <rect width="20" height="20" fill="white"></rect>
                </clipPath>
                </defs>
              </svg>
              <strong>Около 80 постоянно сотрудничающих архитектурных и строительных организаций</strong>
            </li>
          </ul>
          <div class="panel">
            <div class="panel-body">
              <h3>Миссия</h3>
              <p>Компания «Флаг стоун» производит надежную и стильную тротуарную плитку и декоративный камень. Мы хотим, чтобы ваш дом, улица, наш город стали интереснее и ярче.</p>
              <p>Наша компания работает с людьми и для людей, обеспечивая простоту и удобство предоставляемых услуг. Мы гордимся тем, что мы делаем!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <p><img src="/src/img/about-company/office-outside.webp" alt=""></p>
          <p><img src="/src/img/about-company/office.webp" alt=""></p>
        </div>
      </div>
      <div class="about-company__block advantages" id="advantages">
        <h2>Наши преимущества</h2>
        <div class="pluses">
          <div class="pluses__item">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_365_612)">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z" fill="#09B850"/>
              </g>
              <defs>
              <clipPath id="clip0_365_612">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <h3>Качество и долговечность</h3>
            <p>Качественное сырье, современные техонологии, отлаженный процесс производства позволяет нам создавать продукцию, срок службы которой гарантированно составляет не менее 20 лет.</p>
          </div>
          <div class="pluses__item">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_365_612)">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z" fill="#09B850"/>
              </g>
              <defs>
              <clipPath id="clip0_365_612">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <h3>Надежная репутация</h3>
            <p>Доверие покупателей – один из самых важных критериев, обеспечить который можно только высокими стандартами своей деятельности, качеством продукции и услуг. Вот уже 19 лет нам доверяют и выбирают именно нас.</p>
          </div>
          <div class="pluses__item">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_365_612)">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z" fill="#09B850"/>
              </g>
              <defs>
              <clipPath id="clip0_365_612">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <h3>Уникальный ассортимент</h3>
            <p>Мы производим стильную и надежную тротуарную плитку, которая с высокой точностью имитирует настоящий природный камень. Ваш двор будет выглядеть, как средневековая мостовая, вымощенная натуральным камнем. Данные коллекции брусчатки вы не встретите ни у одного производителя.</p>
          </div>
          <div class="pluses__item">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_365_612)">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM15 11H11V15H9V11H5V9H9V5H11V9H15V11Z" fill="#09B850"/>
              </g>
              <defs>
              <clipPath id="clip0_365_612">
              <rect width="20" height="20" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <h3>Удобный сервис</h3>
            <p>Наши клиенты предпочитают обслуживание "из одних рук" – получить весь комплекс товаров и услуг – дизайн-проект, декоративный камень и тротуарную плитку, кованные изделия и декоративные элементы, сопутствующие материалы (клей, расшивку, гидрофобизатор), доставку, монтаж.</p>
          </div>
        </div>
      </div>
      <div class="about-company__block staff" id="staff">
        <h2>Наши сотрудники</h2>
        <div class="photos">
          <figure class="photos__item">
            <img src="/src/img/about-company/turov.webp" alt="">
            <figcaption>
              <strong class="name">Туров Анатолий Витальевич</strong>
              <span class="post">Руководитель компании</span>
            </figcaption>
          </figure>
          <figure class="photos__item">
            <img src="/src/img/about-company/sokolova.webp" alt="">
            <figcaption>
              <strong class="name">Соколова Оксана Витальевна</strong>
              <span class="post">Заместитель генерального директора</span>
            </figcaption>
          </figure>
          <figure class="photos__item">
            <img src="/src/img/about-company/karimova.webp" alt="">
            <figcaption>
              <strong class="name">Каримова Лилия Абузаровна</strong>
              <span class="post">Финансовый директор - главный бухгалтер</span>
            </figcaption>
          </figure>
          <figure class="photos__item">
            <img src="/src/img/about-company/darovskih.webp" alt="">
            <figcaption>
              <strong class="name">Даровских Анатолий Викторович</strong>
              <span class="post">Начальник производства</span>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="about-company__block tv" id="tvProjects">
        <h2>ТВ проекты</h2>
        <div class="videos">
          <div class="videos__item">
            <video controls poster="">
              <source src="" type="video/webm">
              Ваш браузер не поддерживает встроенные видео :(
            </video>
            <p>Тротуарная плитка в Самаре. Компания «Флаг стоун»</p>
          </div>
          <div class="videos__item">
            <video controls poster="">
              <source src="" type="video/webm">
              Ваш браузер не поддерживает встроенные видео :(
            </video>
            <p>Искусственный камень в Самаре. Компания Флаг стоун</p>
          </div>
          <div class="videos__item">
            <video controls poster="">
              <source src="" type="video/webm">
              Ваш браузер не поддерживает встроенные видео :(
            </video>
            <p>Искусственный камень в Самаре. Компания Флаг стоун</p>
          </div>
        </div>
      </div>
      <div class="about-company__block certificates" id="certificates">
        <h2>Сертификаты</h2>
        <img src="/src/img/about-company/certificate2023.webp" alt="">
      </div>
      <div class="about-company__block reviews" id="reviews">
        <h2>Отзывы</h2>
        <div class="panel">
          <div class="panel-body">
            <div class="swiper js-reviews">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <blockquote>
                    <p>Мне сразу приглянулась плитка «Старинная мостовая» коричневого цвета. На внешний вид плитку не сразу отличишь от натурального камня, но она более практична и удобна в укладке и эксплуатации. Порадовало и то, что от менеджера получил презент, как первый покупатель этой коллекции. Я доволен покупкой.</p>
                    <footer>Морозов А.В., Самара, 5 просека, 29.04.2021</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Здравствуйте. Очень понравился ваш большой выбор фактур облицовочной плитки и их цветовая палитра. Купили «Средневековая скала». Следующим шагом будет покупка тротуарной плитки для дорожек.</p>
                    <footer>Иванова Ирина, 12.11.2021</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Не первый год работаем с компанией «Флаг стоун». Приобретаем пигменты и формы для производства тротуарной плитки. Хотелось бы отметить качество форм по доступным ценам. Наличие добавок, а именно пигментов разных производителей, пластификаторов и противоморозных добавок для бетона. Спасибо за сотрудничество!</p>
                    <footer>ИП Кручинский, г. Алматы, 25.10.2020</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Не так давно покупал у Вас на пробу полиуретановые формы для искусственного камня, очень доволен качеством. Заливал как цементный состав, так и гипсовый. Легко распалубливается, изделие получается фактурным. Отдельное спасибо за консультацию про добавки и материал.</p>
                    <footer>Помощник нач. производства ООО « Сатурн», 01.09.2020</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Я долго искала решение для благоустройства своего дома. Хотелось чтобы было стильно, и при этом оптимально по стоимости. Рассмотрела множество вариантов, я остановилась на плитке литьевой технологии. Во-первых, большой ассортимент тротуарной плитки и фасадного камня, разнообразие фактур и цветовой гаммы. Во-вторых длительные сроки эксплуатации. А в-третьих, это самое выгодное решение по стоимости, которое я нашла. Компания «Флаг Стоун» показала себя как профессионал в области стиля и дизайна. Благодарность за удобные способы оплаты и быструю доставку.</p>
                    <footer>Светлана Витальевна, 19.08.2020</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Хочу начать с того, что мои соседи решили уложить двор тротуарной плиткой. Увидев эту красоту, мы и сами захотели облагородить свой двор. Ехав в компанию «Флаг стоун», мы уже точно знали что приобретем коллекцию «Старинная мостовая» в серых оттенках. Смотрится красиво, стильно, не чем не уступая натуральному камню. Правда, пришлось немного повозиться с укладкой, но оно того стоит.</p>
                    <footer>Чернов Андрей Андреевич, 08.08.2020</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Уже давно хотел как-то «облагородить» свой дачный домик. Пересмотрел много разных вариантов, решил остановиться на искусственном камне компании «Флаг стоун» и совсем не жалею. Качественный, практичный и доступный материал, который будет служить мне долго. Отдельное спасибо менеджерам за советы по уходу, подбор и расчет камня.</p>
                    <footer>Алексей, 30.07.2019</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>По рекомендации знакомых заказала в этой компании плитку. Плитку привезли. Раскрыв поддон я увидела бой. Сотрудник компании убедил меня что все уйдет в укладке на нарезку и был прав. По началу конечно я возмутилась, но теперь понимаю -это не кафель и всему можно найти применение. Спасибо за взаимопонимание.</p>
                    <footer>Нина Николаевна, 24.06.2019</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Покупал тротуарную плитку в «Флаг стоуне» 80м2 с укладкой. Был приятно удивлен общением менеджеров, такого уважительного и профессионального подхода к клиенту давно не встречал!!! Спасибо, все сделала вовремя и красиво!!!</p>
                    <footer>Серов Юрий Петрович, 05.06.2019</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Фирму «Флаг стоун» благодарим за быстроту выполнения заказа. Вчера заказали эту коллекцию, сегодня привезли, и с доставкой тоже помогли, не пришлось тратить время по поиску машины. Буду рекомендовать вашу фирму друзьям и коллегам. Спасибо.</p>
                    <footer>Акманаев Сергей Анатольевич, п. Старосемейкино, 16.05.2019</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Благодарим руководителя «Флаг стоун» за обучение производству искусственного камня в этом году. Обучение заняло 2 дня, где была и теория и практика, так сказать от простого к сложному! Сейчас эти знания использую в своем собственном бизнесе.</p>
                    <footer>ИП Мельников, г. Саратов, 12.05.2019</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Я заказывал облицовочный камень для дома. Большой ассортимент и много камня в наличии. И скажу, что качеством и ценой очень остался доволен. Доставка была от компании и довольно быстро привезли и помогли разгрузить. Очень удобно и быстро. Спасибо вам.</p>
                    <footer>Голубь Александр Сергеевич, 19.06.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Мы заказывали пластиковые формы для литья тротуарной плитки. Заявку оформили 2.07.14. заказ был отправлен 5.07.14., груз был доставлен 9.07.14. Работой компании очень довольны, работают быстро, слаженно. На общение с покупателями уделяют много времени. Советуем всем воспользоваться услугами данной компании.</p>
                    <footer>Петренко.С.В., 10.06.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>В загородном доме решили облагородить двор, уложить тротуарную плитку. Но сами делать побоялись, чтобы на следующий год все не переделывать. Через интернет нашли компанию ООО "Флаг стоун". Позвонили, представитель компании очень быстро нам ответил на заданные вопросы,предложил большой выбор плитки и варианты ее укладки, на следующий день к нам приехал укладчик, все посмотрел, оценил, ознакомил с примерной суммой. В итоге работы были сделаны очень аккуратно и оперативно. Вашу работу оценили все друзья и соседям. Большое спасибо!</p>
                    <footer>Маргарита, 7 просека, 28.05.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Компании «Флаг стоун» спасибо за брусчатку!! Заказали, сделали, всё на высоте!! Успехов Вам.</p>
                    <footer>Татьяна, 15.05.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Очень понравилось работать с этой компанией, Я получила полную консультацию о добавках для бетона, о их плюсах и минусах, для чего их используют, кто производит. и т.д.. Сделала заказ на пигменты и пластификаторы, заказ доставили за неделю, прямо по адресу Спасибо за сотрудничество!</p>
                    <footer>г. Тольятти, Долгих С.Н., 14.04.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Я заказал здесь 2 года назад полиуретановые формы для изготовления фасадной плитки. Качество плитки отличное. Пользуюсь этими формами до сих пор! Спасибо</p>
                    <footer>Николай Владимирович, 20.01.2014</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Я заказал здесь 2 года назад полиуретановые формы для изготовления фасадной плитки. Качество плитки отличное. Пользуюсь этими формами до сих пор! СпасибоКладем плитку на участках у самых разных людей. У всех разный достаток и требования. Но всегда заказываем только у вас. Цены, конечно, не самые низкие, но качество отличное.</p>
                    <footer>Исмаилов, 10.12.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Добрый день, приятно, что есть такая страница где можно оставить свое мнение. Недавно приобрел полиуретановую форму и хочу поблагодарить директора этой компании, что он мне все объяснил и рассказал как и что делать с ней. Вчера я попробовал отлить первые камешки и у меня все получилось!</p>
                    <footer>Соколов Дмитрий, 19.11.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Закупался здесь уже 3 раза и всякий раз брал разную тротуарную плитку. Качество хорошее, цены нормальные. Нравится, что фирма является собственным производителем своей продукции.</p>
                    <footer>ООО «Аква», 14.11.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>У нас с супругой небольшой загородный дом. Решили его обновить. Обратились в компанию и заказали фасадную и тротуарную плитку. Товар пришел в сроки, их мастера все красиво уложили. Мы остались полностью довольны товаром, сервисом и конечно результатом!</p>
                    <footer>Семья Архиповых, 03.10.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>В офисе купил пластиковые формы. Недорого и быстро. Все понравилось.</p>
                    <footer>Журавлев А., 11.10.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Нужна была облицовочная плитка для загородного дома. Очень долго искал, у кого ее заказать, чтобы качество было выше среднего. В итоге остановился на компании Флаг стоун и получил даже больше, чем ожидал. Спасибо большое!</p>
                    <footer>Аркадий, 01.09.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Здравствуйте, меня зовут Александр. Я прошел обучение технологии производства искусственного камня в 2011г, и хотел бы выразить свою глубочайшую благодарность этой фирме, благодаря которой я открыл свой собственный бизнес. Мне флаг стоун дал хорошие теоретические и практические навыки, так же я сразу закупил все необходимые материалы (формы, пигменты). В общем еще раз спасибо!</p>
                    <footer>Гость, 22.08.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Купил формы. Товар качественный! Цена нормальная. Сотрудники компании доброжелательные!</p>
                    <footer>Максим, 05.07.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Я брал здесь фасадную и тротуарную плитку. Цена и качество на высоте!</p>
                    <footer>Фарид, 10.06.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Покупал тротуарную плитку и брусчатку в прошлом году. Она перезимовала отлично-ни сколов, ни трещин. Весной был небольшой высол, но быстро смылся. Покрыл все гидрофобизатором-и цвет стал ярче, и поверхность глянцевая. Спасибо!</p>
                    <footer>Боков А.С., 12.05.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Купили брусчатку Европу, воспользовались услугами укладчика, которого посоветовали в фирме. Уложил очень качественно и красиво. Очень довольны!</p>
                    <footer>Довольный клиент, 03.04.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Заказывали плитку в июле. К качеству претензий не имею, но срок не выдержали-задержали на неделю.</p>
                    <footer>Абдулин Р.И., 06.03.2013</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Фирма делала на заказ кованную калитку. С эскизом очень помогли, так как долго не могли определиться-что же хотим. В итоге подобрали именно то, что нам бы хотелось. Сделано быстро, качественно и красиво.</p>
                    <footer>Лебедев А.Н., 07.12.2012</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Купили деревянный колодец и небольшую тачку в детский сад. Сразу забрали готовые со склада. Очень довольны качеством изделий!</p>
                    <footer>Коновалова А.Ю., 03.11.2012</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Тротуарную плитку и брусчатку вашей фирмы укладывали год назад.Цвет насыщенный и не выцветает- очень довольны!</p>
                    <footer>Сороченков Г.М., 11.10.2012</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Второй год беру брусчатку у этой компании. Хорошее качество и оптимальные цены.</p>
                    <footer>Богатов К.И., 20.09.2012</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Взяли в этом году тротуарную плитку в вашей фирме, воспользовались услугами укладчика. Выходим во двор и радуемся, спасибо!</p>
                    <footer>семья Митрофановых, 13.08.2012</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Мы прошли в этой компании обучение по производству искусственного камня. По времени это составило 3 дня, за это время мы побывали на производстве, получили подробную информацию по технологии производства, своими руками сделали пару метров фасадной и тротуарной плитки.Приобрели все необходимое оборудование и формы для производства тротуарной плитки, все связующие химические добавки, пигменты, что нас очень порадовало, т.к. не пришлось искать все это в другом месте. Благодаря этой организации и полученным нами опыту мы открыли в своем городе такую же фирму по производству декоративного камня. За что и БЛАГОДАРНЫ!</p>
                    <footer>Ахмадулин Э.Р., 25.07.2011</footer>
                  </blockquote>
                </div>
                <div class="swiper-slide">
                  <blockquote>
                    <p>Мы приобретали вибростол и АВС -формы в ООО "Флаг стон". Работаем на них уже 2 года. Формы хорошего качества, не требуют дополнительной смазки и легко распалубливаются. Каждый раз, приобретая формы у нас разбегаются глаза, т.к. большой выбор структур камня и цветовая гамма. Благодаря нашему сотрудничеству, мы процветаем, за что огромное вам спасибо.</p>
                    <footer>Сорокин А.А., 17.06.2011</footer>
                  </blockquote>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-company__block" id="history">
        <h2>История компании</h2>
        <ul class="timeline">
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2003 год</h4>
              <p>Начало производственной деятельности. Запускаем производство <strong>вибролитьевой тротуарной плитки</strong></p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2004 год</h4>
              <p>Расширяем продуктовую линейку - начало производства <strong>декоративного искусственного камня</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2005 год</h4>
              <p>Начали производство форм из АВС-пластика. Запустили производство вибростолов для изготовления тротуарной плитки, искусственного камня, керамзитобетонных блоков.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2006 год</h4>
              <p>Начинаем производство и продажу <strong>полиуретановых форм</strong> для изготовления декоративного камня.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2007 год</h4>
              <p>Разработали и произвели первый <strong>вакуумно-формовочный станок</strong> для производства форм из АБС-пластика.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2008 год</h4>
              <p>16 наших клиентов из разных регионов России, СНГ прошли обучение <strong>технологии производства искусственного камня и тротуарной плитки</strong> и открыли свой бизнес.</p>
              <p>Осуществляем поставки профессиональных бетоносмесителей принудительного действия по всем регионам России.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2010 год</h4>
              <p>Разрабатываем и внедряем новый способ окрашивания декоративного камня <strong>кислотными красителями собственного производства</strong>, что позволило нам более точно имитировать природный цвет камня.</p>
              <p>Начинаем продажи <strong>пигментов, пластификаторов и морозостойких добавок для бетона</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2011 год</h4>
              <p>Открываем новую деятельность по изготовлению <strong>кованых решеток, заборов, ограждений, мангалов</strong>, а так же оптово-розничные продажи <strong>кованых элементов</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2012 год</h4>
              <p>Предоставляем нашим клиентам услуги по <strong>ландшафтному дизайну</strong>, укладке тротуарной плитки и декоративного камня.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2013 год</h4>
              <p>Запускаем линию по производству тротуарной плитки методом <strong>полусухого вибропрессования</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2014 год</h4>
              <p>Воплощаем новый «прорыв» в строительстве: технологию <strong>вертикального штампованного бетона</strong>. Начинаем новое направление нашей деятельности по изготовлению <strong>искусственных валунов, скал</strong> по технологии вертикального штампованного бетона.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2016 год</h4>
              <p>Разрабатываем и запускаем в производство новую коллекцию тротуарной плитки «<strong>Старинная мостовая</strong>», которая стала абсолютным трендом, «блокбастером» у наших клиентов.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2017 год</h4>
              <p>Разрабатываем и запускаем в производство <strong>новую коллекцию тротуарной плитки «Европа»</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2018 год</h4>
              <p>Разработали собственную <strong>франшизу «Производство и продажа тротуарной плитки и декоративного камня, пластиковых и полиуретановых форм»</strong>.</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2019 год</h4>
              <p>Разработали и запустили в производство новую коллекцию тротуарной плитки «<strong>Клинкерная брусчатка</strong>».</p>
            </div>
          </li>
          <li>
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <h4>2020 год</h4>
              <p>Разработали и внедрили дополнительно антискользящую фактуру камня для коллекции «Старинная мостовая». В продаже появились еще 12 коллекций декоративного камня.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

{% block modals %}
  {% include '/components/mobile-fixed-panel/mobile-fixed-panel.twig' %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/about.js"></script>
{% endblock %}