@import '@/common/common.scss';
@import '@/components/page/page.scss';
@import '@/components/container/container.scss';
@import '@/components/header/header.scss';
@import '@/components/products-nav/products-nav.scss';
@import '@/components/ratings-block/ratings-block.scss';
@import '@/components/footer/footer.scss';
@import '@/components/mobile-fixed-panel/mobile-fixed-panel.scss';
@import '@/components/main/main.scss';
@import '@/components/breadcrumbs/breadcrumbs.scss';

.contacts-block {
  address {
    font-style: normal;
  }

  .row {
    gap: $col-padding;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }
}