// Base
@import '@/components/base.scss';

.contacts-block {
  address {
    font-style: normal;
  }

  .row {
    gap: $col-padding;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }
}