{% extends 'layouts/one-column.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/education.scss">
{% endblock %}

{% block content %}
<main class="page__main main">
  <section class="section section-education">
    <div class="container">
      {% include '/components/breadcrumbs/breadcrumbs.twig' %}
      {# Drupal markup #}
      <h1>Обучение технологии производства тротуарной плитки и декоративного камня</h1>
      {# END Drupal markup #}
      <p class="lead">Далеко не каждый верит, что в настоящее время реально создать выгодный бизнес «с нуля», затратив при этом минимальные средства. Однако, мы в корне не согласны с этим утверждением. Приняв за основу нашу технологию, Вы сможете открыть собственное дело, приносящее высокий доход, поскольку, затраты – минимальны, а Ваша продукция будет пользоваться большим спросом, обладать высоким качеством и дорого стоить!</p>
      <h2>Наша компания на собственной производственной базе научит Вас:</h2>
      <ul class="check-list check-list-education">
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>Производству декоративного искусственного камня и тротуарной плитки.</strong>
        </li>
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>Основам технологии производства эластичных форм и форм из АБС-пластика.</strong>
        </li>
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>И самое главное – Вы будете знать, как открыть свое дело, как будет функционировать ваша компания, какой алгоритм действий приведет к наилучшему результату.</strong>
        </li>
      </ul>
      <p>
        <video controls poster="">
          <source src="" type="video/webm">
          Ваш браузер не поддерживает встроенные видео :(
        </video>
      </p>
      <p>Если не принимать в расчет место под склады, то производство размещается на площади в 100 квадратных метров (правда, с увеличением количества мощностей, территорию, соответственно, предстоит расширить).</p>
      <p>Для производства камня необходимы электроэнергия и вода. Должна поддерживаться температура 16 - 25 градусов.</p>
      <p>При производстве плитки используется цемент М400 Д0, М500 Д0, пластификатор (1-2 % от массы цемента), пигменты, легкие или тяжелые наполнители.</p>
      <h2>Наша компания обеспечит вашу организацию следующим оборудованием:</h2>
      <ul>
        <li>Бетоносмесителями гравитационными или принудительного действия объемом от 50 до 500 литров;</li>
        <li>Вибростолами, собственного производства.</li>
      </ul>
      <p>Наша компания производит большой ассортимент форм из АБС-пластика, (тиражийность более 400 циклов), полиуретановые формы (тиражийность несколько тысяч отливок). Мы занимаемся поставками полиуретана из США для создания эластичных форм, необходимых в производстве искусственного камня.</p>
      <p>Обучение (2 человека) проводится на производственной базе нашей компании. При обучении разрешается фото и видеосъемка. Время обучения 1-3 дня, в зависимости от выбранной вами программы обучения.</p>
      <h2>Пакеты обучения и стоимость</h2>
      <div class="table-wrapper">
        <table class="table table-education">
          <thead>
            <tr>
              <th></th>
              <th>
                <h3>Пакет «Эконом»</h3>
                <div>Обучение технологии производства тротуарной плитки (или декоративного камня)</div>
              </th>
              <th>
                <h3>Пакет «Классик»</h3>
                <div>Обучение технологии производства тротуарной плитки и декоративного камня</div>
              </th>
              <th>
                <h3>Пакет «Бизнес»</h3>
                <div>Обучение технологии производства тротуарной плитки и декоративного камня</div>
              </th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Стоимость</th>
              <td class="price">30.000 рублей</td>
              <td class="price">60.000 рублей</td>
              <td class="price">80.000 рублей</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3"><div class="callback-activate btn btn-block btn-success">Получить консультацию</div></td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th>Время обучения</th>
              <td>
                <span>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_355_616)">
                    <path d="M13.3 14.7L14.7 13.3L11 9.6V5H9V10.4L13.3 14.7ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C12.2167 18 14.1042 17.2208 15.6625 15.6625C17.2208 14.1042 18 12.2167 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 12.2167 2.77917 14.1042 4.3375 15.6625C5.89583 17.2208 7.78333 18 10 18Z" fill="#C5CBDC"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_355_616">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>
                  1 день
                </span>
              </td>
              <td>
                <span>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_355_616)">
                    <path d="M13.3 14.7L14.7 13.3L11 9.6V5H9V10.4L13.3 14.7ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C12.2167 18 14.1042 17.2208 15.6625 15.6625C17.2208 14.1042 18 12.2167 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 12.2167 2.77917 14.1042 4.3375 15.6625C5.89583 17.2208 7.78333 18 10 18Z" fill="#C5CBDC"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_355_616">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>
                  1-2 дня
                </span>
              </td>
              <td>
                <span>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_355_616)">
                    <path d="M13.3 14.7L14.7 13.3L11 9.6V5H9V10.4L13.3 14.7ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20ZM10 18C12.2167 18 14.1042 17.2208 15.6625 15.6625C17.2208 14.1042 18 12.2167 18 10C18 7.78333 17.2208 5.89583 15.6625 4.3375C14.1042 2.77917 12.2167 2 10 2C7.78333 2 5.89583 2.77917 4.3375 4.3375C2.77917 5.89583 2 7.78333 2 10C2 12.2167 2.77917 14.1042 4.3375 15.6625C5.89583 17.2208 7.78333 18 10 18Z" fill="#C5CBDC"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_355_616">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>
                  2-3 день
                </span>
              </td>
            </tr>
            <tr>
              <th colspan="4">
                Технологический регламент по производству декоративного камня и тротуарной плитки
              </th>
            </tr>
            <tr>
              <th class="subitem">Требования к производственным помещениям</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Схема производственного помещения</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Перечень оборудования</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Штатная численность персонала</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Характеристика производимой продукции</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Требования к качеству сырья</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Составы бетонных смесей</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Рецептуры окраски декоративного камня и тротуарной плитки.</th>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Технологии монтажа декоративного камня и тротуарной плитки</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Основы технологии производства эластичных форм, форм из АБС-пластика</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th>Подробное описание всех бизнес-процессов, начиная от проведения рекламной компании и работы с клиентами до организации логистики и управления персоналом.</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th colspan="4">Краткий курс "Основы маркетинга". 47 практических инструментов по увеличению продаж – системно, быстро и без бюджета в 5 направлениях</th>
            </tr>
            <tr>
              <th class="subitem">Позиционирование (имидж, бренд - компании, продукции и т.д)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Точки контакта (сайт, офис, коммерческое предложение и т.д)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Человеческий фактор (обучение, мотивация и т.д. сотрудников)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Работа с клиентами (привлечение, работа,удержание, возвращение)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Комплекс маркетинга (каналы привлечения, ценообразование, интернет-маркетинг и т.д)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th colspan="4">Всю рабочую документацию организации в соответствии с требованиями нормативных документов</th>
            </tr>
            <tr>
              <th class="subitem">Документы кадрового учета (Должностные инструкции, трудовые договора, правило внутреннего трудового распорядка и т.д)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Все приказы по организации</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Документы по мерам пожарной безопасности (инструкции, программы, журналы инструктажей и т.д.)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th class="subitem">Документа по мерам безопасности (инструкции, программы, журналы инструктажей и т.д.)</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th>Договора поставок, подрядов и т.д.</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
            <tr>
              <th>Рекламная продукция (буклеты, флаеры), коммерческие предложения для клиентов.</th>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-remove"></i></td>
              <td><i class="icon-check"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>По окончанию обучения наша организация проводит сопровождение производственного процесса в течение всего времени с момента подписания договора передачи технологии до полного практического усвоения материала посредством ответов на все ваши вопросы по телефону или любым другим средствам связи.</p>
      <p>Во время проведения обучения иногородние проживают в гостинице, расположенной рядом с нашим офисом. Стоимость проживания 1000 рублей за двуместный номер в сутки.</p>
      <p>Начните свой бизнес, мы поможем Вам и результаты не заставят себя долго ждать!</p>
      <div class="panel panel-education">
        <div class="panel-body">
          <blockquote>
            <p>И, наконец. самое главное. По статистике, боле 90 % малых предприятий прекращают свою деятельность в течении первого года. Почему так происходит? Существует несколько причин. Безусловно, одной из них является то, что предприниматели просто не знают, как правильно выстроить свой бизнес, как правильно организовать все бизнес-процессы, как провести рекламную компанию, затратив при этом минимальное количество средств, как правильно организовать систему продаж, как работать с клиентами и т.д. К чему я это говорю? Дело в том, что освоить технологию производства какой-либо продукции, закупить оборудование, нанять работников и начать выпуск изделий - это не самое главное. Главная задача любого бизнеса – это заработать деньги, а не организовать производство, что тоже не мало важно. В России я не знаю ни одной фирмы, которая проводит обучение технологии производства тротуарной плитки и декоративного камня и передает какие-либо знания по организации бизнес-процессов, маркетингу и т.д. Конечно, за 3 дня очень тяжело научить человека организации бизнеса, ведь эту науку не освоить и за несколько лет. Но мы все-таки постараемся передать вам самое основное, самое главное и, что немаловажно, конкретные шаги по открытию и продвижению вашего бизнеса.</p>
          <footer>Генеральный директор Туров Анатолий Витальевич</footer>
        </blockquote>
        </div>
      </div>
      <p><a href="">Экономическое обоснование цеха по производству декоративного камня и тротуарной плитки на пластиковых формах.</a></p>
      <p><a href="">Экономическое обоснование цеха по производству «Искусственного камня» на эластичных формах из полиуретана.</a></p>
    </div>
  </section>
</main>
{% endblock %}