{% extends 'layouts/one-column.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/education.scss">
{% endblock %}

{% block content %}
<main class="page__main main">
  <section class="section">
    <div class="container">
      {% include '/components/breadcrumbs/breadcrumbs.twig' %}
      {# Drupal markup #}
      <h1>Обучение технологии производства тротуарной плитки и декоративного камня</h1>
      {# END Drupal markup #}
      <p class="lead">Далеко не каждый верит, что в настоящее время реально создать выгодный бизнес «с нуля», затратив при этом минимальные средства. Однако, мы в корне не согласны с этим утверждением. Приняв за основу нашу технологию, Вы сможете открыть собственное дело, приносящее высокий доход, поскольку, затраты – минимальны, а Ваша продукция будет пользоваться большим спросом, обладать высоким качеством и дорого стоить!</p>
      <h2>Наша компания на собственной производственной базе научит Вас:</h2>
      <ul class="check-list">
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>Производству декоративного искусственного камня и тротуарной плитки.</strong>
        </li>
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>Основам технологии производства эластичных форм и форм из АБС-пластика.</strong>
        </li>
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_313_615)">
            <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </g>
            <defs>
            <clipPath id="clip0_313_615">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <strong>И самое главное – Вы будете знать, как открыть свое дело, как будет функционировать ваша компания, какой алгоритм действий приведет к наилучшему результату.</strong>
        </li>
      </ul>
      <p>
        <video controls poster="">
          <source src="" type="video/webm">
          Ваш браузер не поддерживает встроенные видео :(
        </video>
      </p>
      <p>Если не принимать в расчет место под склады, то производство размещается на площади в 100 квадратных метров (правда, с увеличением количества мощностей, территорию, соответственно, предстоит расширить).</p>
      <p>Для производства камня необходимы электроэнергия и вода. Должна поддерживаться температура 16 - 25 градусов.</p>
      <p>При производстве плитки используется цемент М400 Д0, М500 Д0, пластификатор (1-2 % от массы цемента), пигменты, легкие или тяжелые наполнители.</p>
      <h2>Наша компания обеспечит вашу организацию следующим оборудованием:</h2>
      <ul>
        <li>Бетоносмесителями гравитационными или принудительного действия объемом от 50 до 500 литров;</li>
        <li>Вибростолами, собственного производства.</li>
      </ul>
      <p>Наша компания производит большой ассортимент форм из АБС-пластика, (тиражийность более 400 циклов), полиуретановые формы (тиражийность несколько тысяч отливок). Мы занимаемся поставками полиуретана из США для создания эластичных форм, необходимых в производстве искусственного камня.</p>
      <p>Обучение (2 человека) проводится на производственной базе нашей компании. При обучении разрешается фото и видеосъемка. Время обучения 1-3 дня, в зависимости от выбранной вами программы обучения.</p>
      <h2>Пакеты обучения и стоимость</h2>
      <div class="table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>
                <h3>Пакет «Эконом»</h3>
                <div>Обучение технологии производства тротуарной плитки (или декоративного камня)</div>
              </th>
              <th>
                <h3>Пакет «Классик»</h3>
                <div>Обучение технологии производства тротуарной плитки и декоративного камня</div>
              </th>
              <th>
                <h3>Пакет «Бизнес»</h3>
                <div>Обучение технологии производства тротуарной плитки и декоративного камня</div>
              </th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Стоимость</th>
              <td class="price">30.000 рублей</td>
              <td class="price">60.000 рублей</td>
              <td class="price">80.000 рублей</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3"><div class="callback-activate btn btn-block btn-success cboxElement">Получить консультацию</div></td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th>Время обучения</th>
              <td><i class="fa fa-clock-o text-muted"></i> 1 день</td>
              <td><i class="fa fa-clock-o text-muted"></i> 1-2 дня</td>
              <td><i class="fa fa-clock-o text-muted"></i> 2-3 день</td>
            </tr>
            <tr>
              <th colspan="4">
                Технологический регламент по производству декоративного камня и тротуарной плитки
              </th>
            </tr>
            <tr>
              <th class="subitem">Требования к производственным помещениям</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Схема производственного помещения</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Перечень оборудования</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Штатная численность персонала</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Характеристика производимой продукции</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Требования к качеству сырья</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Составы бетонных смесей</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Рецептуры окраски декоративного камня и тротуарной плитки.</th>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Технологии монтажа декоративного камня и тротуарной плитки</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Основы технологии производства эластичных форм, форм из АБС-пластика</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th>Подробное описание всех бизнес-процессов, начиная от проведения рекламной компании и работы с клиентами до организации логистики и управления персоналом.</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th colspan="4">Краткий курс "Основы маркетинга". 47 практических инструментов по увеличению продаж – системно, быстро и без бюджета в 5 направлениях</th>
            </tr>
            <tr>
              <th class="subitem">Позиционирование (имидж, бренд - компании, продукции и т.д)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Точки контакта (сайт, офис, коммерческое предложение и т.д)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Человеческий фактор (обучение, мотивация и т.д. сотрудников)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Работа с клиентами (привлечение, работа,удержание, возвращение)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Комплекс маркетинга (каналы привлечения, ценообразование, интернет-маркетинг и т.д)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th colspan="4">Всю рабочую документацию организации в соответствии с требованиями нормативных документов</th>
            </tr>
            <tr>
              <th class="subitem">Документы кадрового учета (Должностные инструкции, трудовые договора, правило внутреннего трудового распорядка и т.д)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Все приказы по организации</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Документы по мерам пожарной безопасности (инструкции, программы, журналы инструктажей и т.д.)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th class="subitem">Документа по мерам безопасности (инструкции, программы, журналы инструктажей и т.д.)</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th>Договора поставок, подрядов и т.д.</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
              <th>Рекламная продукция (буклеты, флаеры), коммерческие предложения для клиентов.</th>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-minus text-muted"></i></td>
              <td><i class="fa fa-check text-success"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>По окончанию обучения наша организация проводит сопровождение производственного процесса в течение всего времени с момента подписания договора передачи технологии до полного практического усвоения материала посредством ответов на все ваши вопросы по телефону или любым другим средствам связи.</p>
      <p>Во время проведения обучения иногородние проживают в гостинице, расположенной рядом с нашим офисом. Стоимость проживания 1000 рублей за двуместный номер в сутки.</p>
      <p>Начните свой бизнес, мы поможем Вам и результаты не заставят себя долго ждать!</p>
      <div class="panel">
        <div class="panel-body">
          <blockquote>
            <p>И, наконец. самое главное. По статистике, боле 90 % малых предприятий прекращают свою деятельность в течении первого года. Почему так происходит? Существует несколько причин. Безусловно, одной из них является то, что предприниматели просто не знают, как правильно выстроить свой бизнес, как правильно организовать все бизнес-процессы, как провести рекламную компанию, затратив при этом минимальное количество средств, как правильно организовать систему продаж, как работать с клиентами и т.д. К чему я это говорю? Дело в том, что освоить технологию производства какой-либо продукции, закупить оборудование, нанять работников и начать выпуск изделий - это не самое главное. Главная задача любого бизнеса – это заработать деньги, а не организовать производство, что тоже не мало важно. В России я не знаю ни одной фирмы, которая проводит обучение технологии производства тротуарной плитки и декоративного камня и передает какие-либо знания по организации бизнес-процессов, маркетингу и т.д. Конечно, за 3 дня очень тяжело научить человека организации бизнеса, ведь эту науку не освоить и за несколько лет. Но мы все-таки постараемся передать вам самое основное, самое главное и, что немаловажно, конкретные шаги по открытию и продвижению вашего бизнеса.</p>
          <footer>Генеральный директор Туров Анатолий Витальевич</footer>
        </blockquote>
        </div>
      </div>
      <p><a href="">Экономическое обоснование цеха по производству декоративного камня и тротуарной плитки на пластиковых формах.</a></p>
      <p><a href="">Экономическое обоснование цеха по производству «Искусственного камня» на эластичных формах из полиуретана.</a></p>
    </div>
  </section>
</main>
{% endblock %}