// Base
@import '@/components/base.scss';
// Libraries
@import '@nm/swiper/swiper';
@import '@nm/swiper/modules/pagination';
@import '@nm/swiper/modules/navigation';
// Other
@import '@/layouts/one-column.scss';
@import '@/components/jumbotron/jumbotron.scss';
@import '@/components/section/section.scss';
@import '@/components/products-category/products-category.scss';
@import '@/components/product-card/product-card-lg.scss';
@import '@/components/catalog-items/catalog-items.scss';
@import '@/components/swiper/swiper.scss';
@import '@/components/views-technology/views-technology.scss';
@import '@/components/landing-page/landing-page.scss';
@import '@/components/company-advantages/company-advantages.scss';
@import '@/components/catalog-block/catalog-block.scss';

.jumbotron {
  background: url("@/img/main-page/main-slider__item-1.webp") bottom center no-repeat;
  background-size: cover;

  @media screen and (max-width: $mobile) {
    background-image: url("@/img/main-page/main-slider__item-1-mobile.webp");
  }
}

.section {
  font-size: 18px;

  @media screen and (max-width: $mobile) { 
    font-size: 16px;
  }

  h2 {
    text-align: center;
  }
}

.products-section {
  background-color: $white;
  p {
    margin-bottom: 30px;
  }
}

.technologies-section {

  &__views-technology {
    margin-bottom: 30px;
  }
}

.videos-section {
  background-color: $white;

  video, iframe {
    margin: 0 auto;
    width: 600px;
    display: block;

    @media screen and (max-width: $mobile) { 
      width: 100%;
    }
  }
}

.company-advantages {
  background-color: transparent;
}