{% set productsNavClass = 'products-nav-opacity' %}
{% set title = 'Декоративный искусственный камень' %}
{% extends 'layouts/landing.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/ik.scss">
{% endblock %}

{% block content %}
<section class="jumbotron">
  <div class="container">
    <h1>Декоративный искусственный камень для внешней и внутренней отделки в Самаре</h1>
    <div class="jumbotron__pluses">
      <div class="jumbotron__plus">
        <img src="/src/img/icons/icon-delivery-white.webp" alt="">
        Производство и продажа с 2004 года
      </div>
      <div class="jumbotron__plus">
        <img src="/src/img/icons/icon-clients-white.svg" alt="">
        Более 7350 счастливых клиентов
      </div>
      <div class="jumbotron__plus">
        <img src="/src/img/icons/icon-laying-white.webp" alt="">
        Произведем монтаж за 10 дней с договором и гарантией
      </div>
    </div>
    <footer>
      <button type="button" class="btn btn-success">Получить консультацию</button>
      <a href="#" class="btn btn-outline-default">Посмотреть каталог</a>
    </footer>
  </div>
</section>

<section class="section products-section">
  <div class="container">
    <p>Декоративный искусственный камень несомненно является одним из самых популярных строительных материалов. Он успешно используется как для отделки внутри помещений, так и для наружных работ: облицовка цоколя, фасада, отделка заборов, барбекю и т.п. Удивительная красота и изысканность в нем сочетаются с высокой прочностью и долговечностью. Искусственный декоративный камень имеет богатую цветовую палитру и фактуру и с легкостью имитирует любые материалы естественного происхождения. Искусственный камень, производимый компанией «Флаг стоун», в сравнении с природным, имеет существенно меньший вес, стандартную толщину, что весьма облегчает работу с ним.</p>

    <div class="products-category">
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/ik/ik-category-1.webp" alt="Декоративный кирпич"></div>
        <div class="description">
          <h3>Декоративный кирпич</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/ik/ik-category-2.webp" alt="Сланцы"></div>
        <div class="description">
          <h3>Сланцы</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/ik/ik-category-3.webp" alt="Обработанные камни"></div>
        <div class="description">
          <h3>Обработанные камни</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/ik/ik-category-4.webp" alt="Фасадные плиты"></div>
        <div class="description">
          <h3>Фасадные плиты</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section technologies-section">
  <div class="container">
    <h2>Производство декоративного искусственного камня в Самаре</h2>
    <p>Компания «Флаг стоун» производит декоративный искусственный камень с 2004 года и поэтому имеет уникальные знания и огромный производственный опыт. На что следует обратить внимание при покупке декоративного искусственного камня и как отличить качественный товар от некачественного. Во-первых, из чего произведен декоративный камень. Существует два основных материала, из которого производится искусственный камень: на основе гипса и на основе цемента. Есть свои плюсы и минусы декоративного камня, произведенного на основе этих вяжущих материалов.</p>
    <div class="views-technology technologies-section__views-technology">
      <div class="views-technology__view">
        <h3>Декоративный камень на основе гипса</h3>
        <p>Приготовленная смесь разливается по формам, вибростол как правило не используется. Через 30-40 мин, когда смесь застынет, камень достают из форм для дальнейшей сушки и окрашивания. Камень готов к монтажу через 2-3 дня после распалубки.</p>
        <h4>Плюсы декоративного камня на основе гипсовых вяжущих</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            гораздо легче, чем камень на основе цемента;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            низкая себестоимость;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            высокая производительность технологического процесса;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            можно изготавливать на недорогих формах эконом класса.
          </li>
        </ul>
        <h4>Минусы декоративного камня на основе гипсовых вяжущих</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            менее прочный;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            боится влаги, нельзя применять для наружных работ;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            можно использовать только для внутренней отделки в сухих помещениях.
          </li>
        </ul>
      </div>
      <div class="views-technology__view">
        <h3>Декоративный камень на основе цемента</h3>
        <p>После приготовления бетонной смеси, она укладывается в полиуретановые формы и уплотняется на вибростоле. Затем формы помещают в сушильную камеру. Через сутки происходит распалубка готовых изделий и их складирование в коробки, где они будут набирать прочность в течении 15-20 дней.</p>
        <h4>Плюсы декоративного камня на основе цементных вяжущих</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            более прочный;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            можно использовать как во внутренней, так и во внешней отделке, не боится влаги;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            имеет более натуральный естественный цвет и фактуру.
          </li>
        </ul>
        <h4>Минусы декоративного камня на основе цементных вяжущих</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            дороже, чем гипсовый камень;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            имеет больший вес;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            сильнее загрязняется в сравнении с вибролитьевой;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            изготавливается только на дорогих, но качественных полиуретановых или силиконовых формах, что увеличивает его себестоимость.</li>
        </ul>
      </div>
    </div>
    <p>Компания «Флаг стоун» в своем производстве искусственного декоративного камня в качестве вяжущего использует только белые цементы самых высоких марок, крупномодульный песок, легкие наполнители, неорганические пигменты БАЙФЕРРОКС® немецкого концерна «LANXESS» и современные пластифицирующие химические добавки. Произведенный нашей компанией декоративный искусственный камень можно использовать как внутри помещений, так и снаружи зданий.</p>
  </div>
</section>

<section class="section videos-section">
  <div class="container">
    <h2>Компания «Флаг стоун» программе "Дачный мир" на телеканале Терра - РенТВ 13 июня 2016</h2>
    <video controls poster="">
      <source src="" type="video/webm">
      Ваш браузер не поддерживает встроенные видео :(
    </video>
  </div>
</section>

<section class="section company-advantages">
   <div class="container">
    <h2>Почему быть клиентом компании «Флаг стоун» выгодно?</h2>
    <div class="company-advantages__items">
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-exclusive.webp" alt="">
        <div class="description">
          <h3>Уникальный ассортимент</h3>
          <p>Покупая у нас, вы приобретаете качественный, красивый и стильный декоративный камень, который будет радовать Вас долгие года (срок эксплуатации не менее 30 лет). Производим из материалов премиум класса.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-warehouse.webp" alt="">
        <div class="description">
          <h3>Весь камень есть в наличии на складе</h3>
          <p>Привезем на следующий день после оплаты.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-premium.webp" alt="">
        <div class="description">
          <h3>Производим из материалов премиум класса</h3>
          <p>Срок эксплуатации нашей продукции не менее 25 лет.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-clock.webp" alt="">
        <div class="description">
          <h3>Сэкономим ваше время</h3>
          <p>Купить декоративный искусственный камень в Самаре у компании «Флаг стоун», значит сэкономить свое время: мы предоставляем весь спектр услуг (производство, продажа, доставка и монтаж декоративного камня).</p>
        </div>
      </div>
    </div>
   </div>
</section>

<section class="section" style="background-color: white;">
  <div class="container">
    <h2>Окрашивание искусственного декоративного камня</h2>
    <p>Существует два основных способа окрашивания: когда декоративный камень окрашивается пигментами в массе и поверхностный окрас кислотными красителями.</p>
    <p>Краситель, в состав которого входит небольшое количество соляной кислоты, проникает в бетон на глубину до 1 мм и вступает в химическую реакцию с молекулами цемента. Бетон по своему химическому составу является неоднородной средой, вследствие чего процесс окрашивания так же происходит неоднородно. На неоднородность окрашивания так же может повлиять возраст бетонного покрытия, его структура, влажность.</p>
    <p>Конечный продукт выглядит естественно и разнообразно, имеет природные оттенки, не выгорает на протяжении всего срока эксплуатации. Сочетание красителей нескольких цветов и различных методов их нанесения позволяет получать искусственный камень, идеально имитирующий природный.</p>
    <p>Компания «Флаг стоун» сама производит кислотные красители для бетона, оттенки которых варьируются от темно-коричневого и болотного до оранжевого, желтого и светло-песчаного.</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2>Цена декоративного искусственного камня от производителя</h2>
    <p>Стоимость нашего искусственного декоративного камня в зависимости от конкретной коллекции составляет от 700 до 1300 рублей за квадратный метр. Это достойная цена для высококачественного продукта с длительным сроком эксплуатации (более 30 лет). Более точную цену на декоративный искусственный камень в Самаре вы можете посмотреть в прайс-листах или карточках товара. Ознакомиться с коллекциями и купить декоративный искусственный камень в Самаре от производителя вы можете в нашем офисе по адресу: Самара, ул. Авроры 137.</p>
  </div>
</section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/ik.js"></script>
{% endblock %}