{% set productsNavClass = 'products-nav-opacity' %}
{% extends 'layouts/one-column.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/index.scss">
{% endblock %}

{% block content %}
  <section class="main-slider">
    <div class="swiper js-main-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide item-0">
          <div class="container">
            <h1 class="main-slider__heading">Тротуарная плитка от производителя «Флаг стоун Арт»</h1>
            <div class="h1 main-slider__heading">Производство и продажа с 2003 года</div>
            <a href="/catalog" class="btn btn-success main-slider__btn-link">Перейти в каталог тротуарной плитки</a>
            <p>Клиентами нашей компании стали более 7000 частных лиц и организаций</p>
          </div>
        </div>
        <div class="swiper-slide item-1">
          <div class="container">
            <div class="h1 main-slider__heading">Мы сделаем ваш дом красивым<br>Производство декоративного камня в Самаре</div>
            <a href="/catalog" class="btn btn-success main-slider__btn-link">Перейти в каталог искусственного камня</a>
            <p>Клиентами нашей компании стали более 7000 частных лиц и организаций</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/index.js"></script>
{% endblock %}