// Base
@import '@/assets/common/common.scss';
@import '@/components/page/page.scss';
@import '@/components/buttons/buttons.scss';
@import '@/components/form-control/form-control.scss';
@import '@/components/container/container.scss';
@import '@/components/header/header.scss';
@import '@/components/products-nav/products-nav.scss';
@import '@/components/ratings-block/ratings-block.scss';
@import '@/components/footer/footer.scss';
// Libraries
@import '@nm/swiper/swiper';
@import '@nm/swiper/modules/pagination';
@import '@nm/swiper/modules/navigation';
// Only this page
@import '@/components/main-slider/main-slider.scss';
@import '@/components/section/section.scss';

h2 {
  font-size: 30px;
  margin-bottom: 30px;

  @media screen and (max-width: $mobile) {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.about-section {
  text-align: center;
  background-color: $white;

  @media screen and (max-width: $mobile) {
    svg {
      width: 40px;
      height: auto;
    }
  }

  h2 {
    margin-top: 30px;

    @media screen and (max-width: $mobile) {
      margin-top: 20px;
    }
  }

  p {
    max-width: 1000px;
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    margin: 0 auto 30px;

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }
  }
}

.products-section {
  h2 {
    text-align: center;
  }

  &__cards {
    display: flex;
    gap: $gap;
    flex-wrap: wrap;
  }

  &__card {
    max-width: 600px;
    height: 570px;
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;
    box-shadow: $box-shadow;

    @media screen and (max-width: $pc) {
      width: calc(50% - 15px);
    }

    @media screen and (max-width: $s) {
      width: 100%;
      height: 470px;
    }

    .description {
      position: absolute;
      width: 100%;
      min-height: 254px;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 30px 15px;
      background-color: rgba($blue-dark, .67);
      color: $white;

      p {
        margin: 15px 0;
      }

      footer {
        display: flex;
        gap: 15px;
        margin-top: auto;
      }
    }
  }
}

.training-section {
  background-color: $white;
  text-align: center;
}