{% set productsNavClass = 'products-nav-opacity' %}
{% set title = 'Укладка тротуарной плитки' %}

{% extends 'layouts/landing.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/laying.scss">
{% endblock %}

{% block content %}
<section class="section jumbotron">
  <div class="container">
    <h1>Укладка тротуарной плитки<br>и брусчатки в Самаре</h1>
    <p class="lead">При заключении договора<br> замер и выезд специалиста <strong>бесплатно!</strong></p>
    <div class="buttons">
      <button type="button" class="btn btn-success btn-lg">Заказать обратный  звонок</button>
      <button type="button" class="btn btn-outline-default btn-lg">Рассчитать стоимость</button>
    </div>
    <div class="row">
      <div class="col">
        <img src="/src/img/icons/icon-warranty-circle.svg" alt="">
        <div><strong>Гарантия</strong> на укладку<br>тротуарной плитки</div>
      </div>
      <div class="col">
        <img src="/src/img/icons/icon-order-circle.svg" alt="">
        <div>Заключение<br><strong>договора подряда</strong></div>
      </div>
      <div class="col">
        <img src="/src/img/icons/icon-clients-white.svg" alt="">
        <div><strong>Более 7000</strong><br>довольных клиентов</div>
      </div>
    </div>
  </div>
</section>

<section class="section section-prices">
  <div class="container">
    <h2>Стоимость укладки тротуарной плитки</h2>
    <p>Цена на укладку тротуарной плитки, брусчатки в Самаре зависит от трёх факторов:</p>
    <ul>
      <li>размера плитки, чем меньше плитка, тем дороже;</li>
      <li>от варианта укладки;</li>
      <li>от метража.</li>
    </ul>
    <p>аким образом, стоимость укладки плитки или брусчатки в Самаре варьируется от 850 до 1050 руб. за м2 на готовое основание. Стоимость укладки бордюров за 1 погонный метр от 430 до 550 руб. Стоимость подготовки основания от 430 до 680 руб. Стоимость укладки тротуарной плитки, брусчатки так же зависит от того, где находится объект и какие условия для работы (температура воздуха, проживание и т.д.). Бесплатный замер и выезд специалиста при заключении договора. На большие объемы предоставляем скидки.</p>
    <p>Компания «Флаг стоун» предоставляет <strong>гарантию 1 год</strong> на услугу по укладке тротуарной плитки, брусчатки.</p>
    <h3>Видео по укладке тротуарной плитки</h3>
    <video controls poster="">
      <source src="" type="video/webm">
      Ваш браузер не поддерживает встроенные видео :(
    </video>
    <p><a href="/sites/default/files/prices/service.pdf" class="download-price">Скачать прайс-лист на услуги по монтажу тротуарной плитки (<strong >pdf-файл</strong>)</a></p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Примеры укладки тротуарной плитки и брусчатки</h2>
  </div>
</section>

<section class="section section-steps">
  <div class="container">
    <h2>Этапы проведения работ</h2>
    <ul>
      <li>
        <div class="icon"><img src="/src/img/icons/icon-create-order.svg" alt=""></div>
        <div class="text">
          <h3>Составление сметы</h3>
          <p>Наш специалист выезжает на объект и проводит замеры.</p>
        </div>
      </li>
      <li>
        <div class="icon"><img src="/src/img/icons/icon-check-order.svg" alt=""></div>
        <div class="text">
          <h3>Заключение договора подряда</h3>
          <p>На основании договора будет действовать гарантия в течение одного года.</p>
        </div>
      </li>
      <li>
        <div class="icon"><img src="/src/img/icons/icon-laying-tiles.svg" alt=""></div>
        <div class="text">
          <h3>Укладка тротуарной плитки</h3>
          <p>Наши специалисты выполнят свою работу на профессиональном уровне.</p>
        </div>
      </li>
      <li>
        <div class="icon"><img src="/src/img/icons/icon-broom.svg" alt=""></div>
        <div class="text">
          <h3>Уборка территории</h3>
          <p>Подготовка территории к принятию работ.</p>
        </div>
      </li>
      <li>
        <div class="icon"><img src="/src/img/icons/icon-finish-order.svg" alt=""></div>
        <div class="text">
          <h3>Прием выполненных работ</h3>
          <p>Подписываем акт выполненных работ.</p>
        </div>
      </li>
    </ul>
    <p><button type="button" class="btn btn-success btn-lg">Заказать обратный звонок</button></p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Необходимые материалы и инструменты</h2>
    <p>Перед укладкой тротуарной плитки или брусчатки нужно заранее подготовить материалы и инструменты, которые пригодятся в первую очередь при выполнении работ.</p>
    <h3>Инструменты:</h3>
    <ul>
      <li>лопаты;</li>
      <li>киянка;</li>
      <li>строительный уровень;</li>
      <li>рулетка;</li>
      <li>бетоносмеситель или корыто для замеса кладочного раствора;</li>
      <li>ведра;</li>
      <li>колышки деревянные или из арматуры и шпагат.</li>
    </ul>
    <h3>Строительные материалы:</h3>
    <ul>
      <li>песок;</li>
      <li>щебень средней фракции – 5-20 мм;</li>
      <li>цемент;</li>
      <li>геотекстиль;</li>
    </ul>
  </div>
</section>

<section class="section section-instruction">
  <div class="container">
    <h2>Пошаговая инструкция по укладке тротуарной плитки</h2>
    <p><img src="/src/img/laying/laying.webp" class="img" alt=""></p>
    <p>Весь процесс мощения делится на два этапа: подготовка основания и монтаж тротуарной плитки, брусчатки. Подготовка основания является наиболее важным этапом, так как именно от этого зависит долговечность и качество укладки тротуарной плитки.</p>
    <div class="accordion" id="accordionLaying">
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. Планировка и разметка участка
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p><img src="/src/img/laying/laying-1.webp" alt=""></p>
            <p>На местности определяется место для мощения дорожки, площадки. Обозначаются ее границы. Для этого используют колышки, которые вбиваются через 3-5 м и обвязываются шпагатом.</p>
            <p>Какая должна быть ширина пешеходных дорожек? Обычно это 1-1,2 м. Важно, чтобы на одной дорожке смогли свободно разойтись два человека. Что касается площадки под стоянку автомобиля, то ее ширина должна быть не меньше 3 м. Чтобы на ней поместился не только автомобиль, но и проходящий мимо человек.</p>
            <p>Если пешеходная дорожка будет выкладываться с применением бордюров, то необходимо с каждой стороны прибавить по 10-15 см для их монтажа. Именно по этой общей ширине надо производить разметку.</p>
            <p>Рассчитывайте необходимое количество тротуарной плитки для укладки с запасом на подрез, не менее 5% от общей площади, а также необходимое количество сырья для основания (щебня или гравия, песка, цемента).</p>
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. Земляные работы и дренаж
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p>По всей площади разметки снимите грунт на глубину 25-30 см. Если он плотный, то дно канавы просто выравнивается. Если с большими примесями песка, то проводится трамбовка. Чем плотнее земля, тем лучше. Если глубина траншеи после выборки грунта превышает расчетную, компенсируйте разницу высот засыпкой песка.</p>
            <p>Далее укладывается в канаву геотекстиль. Он легко пропускает воду через себя, не задерживая под плиткой. Поэтому дорожкам не грозит морозное пучение, которое весной поднимает покрытие. Засыпанная на него подушка не усаживается в процессе эксплуатации.</p>
            <p><img src="/src/img/laying/laying-2.webp" style="float:none;max-width:initial;height:auto;" alt=""></p>
            <p>Есть два способа укладки тротуарной плитки, в которых подготовительные работы проводятся по-разному.</p>
            <ol>
              <li>Сначала укладывается геотекстиль, затем на него засыпается песчаный слой для формирования подушки.</li>
              <li>Сначала песок, а на него геотекстиль.</li>
            </ol>
            <p>Второй вариант лучше тем, что третий слой – это щебень. При трамбовке на песке он будет выдавливать песчинки, заполняя их места собой. Подушка впоследствии станет подвижной, особенно когда смешается с водой.</p>
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. Установка бордюров
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p>По краям подготовленных траншей монтируются бордюры. Их надо класть на бетонный раствор плотно друг к другу. Главное требование – ровное расположение верхних поверхностей в одной горизонтальной плоскости. Поэтому процесс проводят с уровнем в руках.</p>
            <p><img src="/src/img/laying/laying-3.webp" alt=""></p>
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            4. Устройство бетонного/щебеночно-песчаного основания
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p>Существуют две технологии подготовки основания для монтажа тротуарной плитки:</p>
            <ol>
              <li>на щебеночно-песчаное основание;</li>
              <li>на бетонное основание.</li>
            </ol>
            <h4>Устройство щебеночно-песчаного основания</h4>
            <p>Основание засыпается несколькими слоями. Первый слой состоит из щебня фракции 20-40 мм толщиной 10-12 см. Второй слой щебня фракции 5-20 см толщиной 10 см. Утрамбуйте щебень виброплитой или ручным трамбовщиком. Затем засыпьте щебень песком и пролейте его водой, чтобы песок заполнил пустоты между щебнем. Этот процесс желательно повторить несколько раз. Затем поверхность еще раз нужно утрамбовать виброплитой. После тщательной утрамбовки, основание выравнивается песком. Непосредственно перед укладкой плитки засыпьте основание свежеприготовленной цементно-песчаной смесью. Высота слоя смеси 3-4 см. Рекомендуемое цементно-песчаное отношение – 1 : 3. Смесь должна быть увлажнена до состояния мокрого песка. После засыпки необходимо выровнять смесь рейкой.</p>
            <p><img src="/src/img/laying/laying-4.webp" style="float: none; max-width: 600px;" alt=""></p>
            <h4>Устройство бетонного основания</h4>
            <p>Основание состоит из нескольких слоев. Засыпьте слой щебня фракции 5-20 мм или 20-40 мм. Утрамбуйте щебень виброплитой. Толщина слоя после трамбовки должна быть 10-12 см. Установите дорожную сетку 100Х100Х4. Высота сетки над слоем щебня должна быть 7-8 см, для того, чтобы после заливки бетонного основания, она находилась в середине или в верхней трети слоя бетона. Установите уровень заливки бетона таким образом, чтобы слой бетонного основания был 10-12 см. Деформационные швы должны быть выполнены на расстоянии от 4 до 6 мм в продольном и поперечном направлении. Залейте бетон. Рекомендуемый класс бетона В25 (М350). Особое внимание уделите качественному выравниванию бетона, а также его вибрированию виброрейкой. После схватывания укройте поверхность бетона полиэтиленовой пленкой, это защитит бетонное основание от потери влаги.</p>
            <p><img src="/src/img/laying/laying-5.webp" style="float: none; max-width: 600px;" alt=""></p>
            <p>Отметим, что бетонная технология применяется для сооружения автомобильных площадок и въездных дорог. Щебеночно-песчаное основание применяется при строительстве пешеходных дорожек.</p>
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            5. Укладка тротуарной плитки
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p><img src="/src/img/laying/laying-photo-5.webp" alt=""></p>
            <p>Укладка тротуарной плитки, брусчатки производится на выровненную цементно-песчаную смесь сразу, не дожидаясь ее схватывания.</p>
            <p>Перед началом укладки, отдельно выложите 1-2 квадратных метра тротуарной плитки, проверьте соответствие цвета и соотношение элементов. Не рекомендуется соседнее расположение нескольких элементов одного размера.</p>
            <p>Старайтесь минимизировать длину швов. Швы длиннее 1 мм нежелательны.</p>
            <p>Старайтесь не допускать скоплений темных или светлых плиток. При необходимости контрастные скопления легко «разбиваются» заменой нескольких плиток противоположного тона.</p>
            <p>Тротуарную плитку, брусчатку следует втрамбовывать в цементно-песчаную смесь резиновой киянкой. Уровень можно контролировать по натянутой струне или правилом. После монтажа, при попадании цементной смеси на поверхность тротуарной плитки произведите её очистку. Разбросайте мокрый песок на поверхность плитки и прометите его щеткой, песок соберет на себя всю цементную пыль. Укройте участок мощения полиэтиленовой пленкой.</p>
            <p>Наши рекомендации:</p>
            <ul>
              <li>Важно подогнать ширину дорожки к размерам тротуарной плитки или брусчатки, чтобы избежать процесса подрезки материала.</li>
              <li>На мягких грунтах рекомендуется сооружать дорожки с формированием армирующего каркаса из стальной сетки, которую укладывают в бетонный слой.</li>
              <li>Укладку тротуарной плитки или брусчатки нельзя проводить во время или после дождя. Почва и размещенная на ней подушка должны быть сухими.</li>
              <li>Заказывать материал нужно с запасом т.к. легко ошибиться с расчетом площади. Вдобавок плитка может повредиться во время работ. Лучшим вариантом будет воспользоваться услугой укладки тротуарной плитки «под ключ». К тому же наши мастера предложат оптимальную схему раскладки.</li>
              <li>Использовать тротуарную плитку или брусчатку нужно минимум из трех поддонов. Таким способом можно избавиться от неоднородности в плане цветового оформления.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__header">
          <button class="accordion__button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            6. Заполнение швов
          </button>
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#2A2E3A"/>
          </svg>
        </h3>
        <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionLaying">
          <div class="accordion__body">
            <p><img src="/src/img/laying/laying-photo-6.webp" alt=""></p>
            <p>Заполнение швов начинайте не ранее, чем через 72 часа после схватывания цементно-песчаной смеси. В течение этого времени нагрузку на тротуарную плитку, брусчатку следует исключить. Швы затираются чистым просеянным песком, который просто рассыпают по поверхности облицовки. Затем щеткой выметают его с площадки. Высота шва должна быть на 0,5 – 1 см ниже уровня плитки. После чего всю поверхность поливают водой до тех пор, пока не образуются лужи. Через день процедуру повторяют.</p>
            <p>Не рекомендуется заполнять швы цементно-песчаной смесью. Цемент с водой оставляет пятна на поверхности, от которых сложно избавиться. Лучше использовать готовый просеянный песок.</p>
          </div>
        </div>
      </div>
    </div>
    <p><button type="button" class="btn btn-success btn-lg">Заказать обратный звонок</button></p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Наши рекомендации</h2>
    <p>После укладки тротуарной плитки, брусчатки мы рекомендуем покрыть ее специальным <a href="/lak-dlya-betona" target="newtab">лаком для бетона</a> или <a href="/zaschitnye-propitki/propitka-dlya-betona" target="newtab">усиливающей пропиткой Монолит-20M</a>. Для эффекта мокрого камня можно обработать плитку защитной пропиткой для пористых минеральных поверхностей Силер АК.</p>
    <p><strong>При их применении:</strong></p>
    <ul>
      <li>уменьшается водопоглащение плитки — в бетон не будут впитываться вредные вещества, способные ее разрушить (соли, кислоты и т.д.);</li>
      <li>возрастает стойкость к воздействию органических кислот, жиров, нефтепродуктов;</li>
      <li>повышается морозостойкость;</li>
      <li>увеличивается твердость, износостойкость бетона в поверхностном слое; устраняется пыление бетона, способствует зарастанию микротрещин;</li>
      <li>защищает тротуарную плитку, брусчатку от выгорания, плитка имеет более насыщенный цвет.</li>
    </ul>
    <h3>Посмотрите наше видео по покрытию плитки защитными составами</h3>
    <video controls poster="">
      <source src="" type="video/webm">
      Ваш браузер не поддерживает встроенные видео :(
    </video>
    <p><a href="/sites/default/files/prices/service.pdf" class="download-price">Скачать прайс-лист на услуги по монтажу тротуарной плитки (<strong >pdf-файл</strong>)</a></p>
  </div>
</section>

{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/laying.js"></script>
{% endblock %}