{% extends 'layouts/main.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/pages.scss">
{% endblock %}

{% block content %}
<section>
  <h1>Страницы</h1>
  <ul>
    <li><a href="/" target="newtab">Главная</a></li>
    <li><a href="/paving-slabs" target="newtab">Тротуарная плитка (посадочная)</a></li>
    <li><a href="/catalog" target="newtab">Каталог (тротуарная плитка)</a></li>
    <li><a href="/product-page" target="newtab">Карточка товара (тротуарная плитка)</a></li>
    <li><a href="/ik" target="newtab">Искусственный камень (посадочная)</a></li>
    <li><a href="/catalog-forms" target="newtab">Каталог формы</a></li>
    <li><a href="/about" target="newtab">О компании</a></li>
    <li><a href="/education" target="newtab">Обучение</a></li>
    <li><a href="/prices" target="newtab">Прайс-листы</a></li>
    <li><a href="/text" target="newtab">Типовая текстовая страница</a></li>
    <li><a href="/sales" target="newtab">Акции и спецпредложения</a></li>
    <li><a href="/laying" target="newtab">Укладка тротуарной плитки</a></li>
    <li><a href="/contacts" target="newtab">Контакты</a></li>
    <li><a href="/portfolio" target="newtab">Портфолио</a></li>
  </ul>
</section>
{% endblock %}