// Base
@import '@/common/common.scss';
@import '@/layouts/one-column.scss';
@import '@/components/page/page.scss';
@import '@/components/btn/btn.scss';
@import '@/components/form-control/form-control.scss';
@import '@/components/container/container.scss';
@import '@/components/header/header.scss';
@import '@/components/products-nav/products-nav.scss';
@import '@/components/ratings-block/ratings-block.scss';
@import '@/components/footer/footer.scss';
// Libraries
@import '@nm/swiper/swiper';
@import '@nm/swiper/modules/pagination';
@import '@nm/swiper/modules/navigation';
// Only this page
@import '@/components/jumbotron/jumbotron.scss';
@import '@/components/section/section.scss';
@import '@/components/products-category/products-category.scss';
@import '@/components/product-card/product-card-lg.scss';
@import '@/components/catalog-items/catalog-items.scss';
@import '@/components/swiper/swiper.scss';
@import '@/components/views-technology/views-technology.scss';
@import '@/components/landing-page/landing-page.scss';
@import '@/components/company-advantages/company-advantages.scss';
@import '@/components/catalog-block/catalog-block.scss';

.jumbotron {
  background: url("@/img/main-page/main-slider__item-0.webp") bottom center no-repeat;
  background-size: cover;

  @media screen and (max-width: $mobile) {
    background-image: url("@/img/main-page/main-slider__item-0-mobile.webp");
  }
}

.section {

  font-size: 18px;

  @media screen and (max-width: $mobile) { 
    font-size: 16px;
  }

  h2 {
    text-align: center;
  }
}

.quality {
  background-color: $white;

  .row {
    gap: $gap;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  p {
    margin-top: 0;
  }

  a {
    line-height: 0;
  }

  img {
    @media screen and (max-width: $mobile) {
      width: 100px;
    }
  }
  figure {
    margin: 0 0 5px;
    text-align: center;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;

  }
}

.technology {

  &__products-category {
    margin-top: 30px;
  }
}

.videos {
  display: flex;
  gap: $gap;

  @media screen and (max-width: $s) {
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    width: calc(50% - 15px);

    @media screen and (max-width: $s) {
      width: 100%;
    }

    video {
      width: 100%;
    }
  }
}

.privilege {
  background-color: $white;

  h2 {
    margin-bottom: 50px;

    @media screen and (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
  }

  &__item {
    width: calc(33% - 30px);
    flex-shrink: 0;

    @media screen and (max-width: $pc) {
      width: calc(50% - 30px);
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}