{% set productsNavClass = 'products-nav-opacity' %}
{% set title = 'Тротуарная плитка' %}
{% extends 'layouts/landing.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/paving-slabs.scss">
{% endblock %}

{% block content %}
<section class="jumbotron">
  <div class="container">
    <h1 style="margin-bottom:0;">Тротуарная плитка и брусчатка в Самаре</h1>
    <div class="h1">Производство и продажа с 2003 года</div>
    <div class="jumbotron__pluses">
      <div class="jumbotron__plus">
        <img src="/src/img/icons/icon-clients-white.svg" alt="">
        Клиентами нашей компании стали более 7350 частных лиц и организаций
      </div>
      <div class="jumbotron__plus">
      <img src="/src/img/icons/icon-delivery-white.webp" alt="">
        Доставим на следующий день после заключения договора
      </div>
      <div class="jumbotron__plus">
        <img src="/src/img/icons/icon-laying-white.webp" alt="">
        Произведем монтаж за 10 дней с договором и гарантией
      </div>
    </div>
    <footer>
      <button type="button" class="btn btn-success">Получить консультацию</button>
      <a href="#" class="btn btn-outline-default">Посмотреть каталог</a>
    </footer>
  </div>
</section>

<section class="section quality">
  <div class="container">
    <h2>Качество тротуарной плитки</h2>
    <div class="row">
      <div class="col">
        <figure>
          <a href="" target="newtab" class="border"><img src="/src/img/quality_certificate_2024.webp" alt="Сертификат соответствия"></a>
          <figcaption>Сертификат соответствия</figcaption>
        </figure>
      </div>
      <div class="col">
        <p>Усовершенствованная технология производства и применение компонентов премиум класса, позволило нам достичь характеристик бетона тротуарных плит, которые в два раза лучше, чем по ГОСТ:</p>
        <ul>
          <li>водопоглощение – <strong>4.1%</strong> (по ГОСТ 17608-2017 – <strong>6%</strong>);</li>
          <li>морозостойкость – <strong>F200</strong> (по ГОСТ 17608-2017 – <strong>F200</strong>)</li>
          <li>класс бетона плит по прочности на сжатие, не менее – <strong>В45</strong> (по ГОСТ 17608-2017 – <strong>В25</strong>)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section technology">
  <div class="container">
    <h2>Два вида тротуарной плитки</h2>
    <p>Если вы решили купить тротуарную плитку, брусчатку, то вам следует учесть, что помимо разнообразия внешнего вида, она отличается также способом изготовления, размерами, а самое главное — качеством.</p>
    <p>Существует две основных технологии производства тротуарной плитки: <strong>вибролитьевая</strong> и <strong>полусухого вибропрессования</strong>. Компания «Флаг стоун» изготавливает плитку используя обе. Именно поэтому мы можем объективно говорить о качестве тротуарной плитки, изготовленной по разным технологиям.</p>
    <div class="views-technology">
      <div class="views-technology__view">
        <h3>Вибролитьевая технология производства</h3>
        <p>После приготовления бетонной смеси, в состав которой входят: цемент <strong>500 Д0</strong>, крупномодульный песок, гранитный щебень фракции <strong>5-10мм</strong>, пластифицирующие химические добавки, пигменты, смесь укладывается в пластиковые формы и уплотняется на вибростоле. Затем формы помещают в сушильную камеру. Через сутки происходит распалубка готовых изделий и их складирование на поддоны, где они будут набирать прочность в течении <strong>15-20 дней</strong>.</p>
        <p><strong>Главный недостаток</strong> этого метода в невозможности автоматизации — <strong>все делается вручную</strong>.</p>
        <h4>Плюсы тротуарной плитки, изготовленной по вибролитьевой технологии</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            большой ассортимент фактур поверхности;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            более прочная (тротуарная плита толщиной 3 см выдерживает машину массой 3 т., вибропрессованная плитка при такой нагрузке должна быть толщиной 6-7 см);</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            легко очищается от загрязнений.
          </li>
        </ul>
        <h4>Минусы</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            не всегда хорошая геометрия тротуарной плитки.
          </li>
        </ul>
      </div>
      <div class="views-technology__view">
        <h3>Вибропрессованная технология производства</h3>
        <p>Процесс вибропрессования проходит при использовании специальных стационарных вибропрессов. Полусухая смесь укладывается в матрицу вибропресса, а затем прижимается пуансоном. Под воздействием вибрации и давления получившиеся плитка имеет идеальную геометрию и в дальнейшем на технологических поддонах перемещается в сушильную камеру.</p>
        <p><strong>Основное преимущество</strong> производства плитки по технологии вибропрессования – высокая производительность и высокая степень автоматизации.</p>
        <h4>Плюсы тротуарной плитки, изготовленной по технологии полусухого вибропрессования</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            идеальная геометрия изделия;
          </li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM9 14.414L5.293 10.707L6.707 9.293L9 11.586L13.793 6.793L15.207 8.207L9 14.414Z" fill="#09B850"/>
            </svg>
            шершавая, не скользкая поверхность.
          </li>
        </ul>
        <h4>Минусы</h4>
        <ul>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            показатель водопоглащения и морозостойкости бетона немного хуже, чем у вибролитьевой;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            цветная тротуарная плитка дороже, чем вибролитьевая, особенно желтые оттенки;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            сильнее загрязняется в сравнении с вибролитьевой;</li>
          <li>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 0H6C2.691 0 0 2.691 0 6V19C0 19.2652 0.105357 19.5196 0.292893 19.7071C0.48043 19.8946 0.734784 20 1 20H14C17.309 20 20 17.309 20 14V6C20 2.691 17.309 0 14 0ZM14.706 13.293L13.292 14.707L10 11.415L6.708 14.707L5.294 13.293L8.586 10.001L5.294 6.709L6.708 5.295L10 8.587L13.292 5.295L14.706 6.709L11.414 10.001L14.706 13.293Z" fill="#E74343"/>
            </svg>
            доставка плитки на объект будет дороже, т.к. квадратный метр тяжелее в два раза.</li>
        </ul>
      </div>
    </div>
    <div class="products-category technology__products-category">
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/paving-slabs/category-1.webp" alt="Вибролитьевая тротуарная плитка"></div>
        <div class="description">
          <h3>Вибролитьевая тротуарная плитка</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/paving-slabs/category-2.webp" alt="Вибролитьевой бордюрный камень"></div>
        <div class="description">
          <h3>Вибролитьевой бордюрный камень</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/paving-slabs/category-3.webp" alt="Вибропрессованная тротуарная плитка"></div>
        <div class="description">
          <h3>Вибропрессованная тротуарная плитка</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
      <div class="products-category__card">
        <div class="photo"><img src="/src/img/paving-slabs/category-4.webp" alt="Вибропрессованный бордюрный камень"></div>
        <div class="description">
          <h3>Вибропрессованный бордюрный камень</h3>
          <a href="" class="btn btn-success">Перейти в каталог</a>
          <a href="" class="btn btn-outline-default">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_316_617)">
              <path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z" fill="#5F6368"/>
              </g>
              <defs>
              <clipPath id="clip0_316_617">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            Скачать прайс-лист
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>Каталог тротуарной плитки</h2>
    <div class="catalog-items">
      {% for i in 0..10 %}
        {% include '/components/product-card/product-card-lg.twig' %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section company-advantages">
   <div class="container">
    <h2>Почему быть клиентом компании «Флаг стоун» выгодно?</h2>
    <div class="company-advantages__items">
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-exclusive.webp" alt="">
        <div class="description">
          <h3>Уникальный ассортимент</h3>
          <p>Покупая у нас, вы приобретаете качественную, красивую и стильную тротуарную плитку. Такие коллекции вы не встретите ни у одного производителя не только в Самаре, но и в России.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-warehouse.webp" alt="">
        <div class="description">
          <h3>Вся плитка есть в наличии на складе</h3>
          <p>Привезем на следующий день после оплаты.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-premium.webp" alt="">
        <div class="description">
          <h3>Производим из материалов премиум класса</h3>
          <p>Срок эксплуатации нашей продукции не менее 25 лет.</p>
        </div>
      </div>
      <div class="company-advantages__item">
        <img src="/src/img/paving-slabs/icon-clock.webp" alt="">
        <div class="description">
          <h3>Сэкономим ваше время</h3>
          <p>Подготовим дизайн-проект укладки, доставим изделие и стройматериалы, произведем монтажные работы под ключ.</p>
        </div>
      </div>
    </div>
   </div>
</section>

<section class="section">
  <div class="container">
    <h2>Рекомендуем посмотреть наше видео</h2>
    {% include '/components/videos/videos.twig' %}
  </div>
</section>

<section class="section privilege">
  <div class="container">
    <h2>Преимущества изделия</h2>
    <div class="privilege__items">
      <div class="privilege__item">
        <h3>Долговечность</h3>
        <p>Плитка для тротуара выдерживает серьезные механические нагрузки, переносит воздействие автотранспорта массой до 10 т, даже при активной эксплуатации надолго сохраняет эстетичный внешний вид.</p>
      </div>
      <div class="privilege__item">
        <h3>Морозостойкость</h3>
        <p>Не имеет ограничений по использованию в регионах с экстремальными температурами, так как одинаково хорошо переносит и морозы, и жару.</p>
      </div>
      <div class="privilege__item">
        <h3>Ремонтопригодность</h3>
        <p>При ремонте коммуникации или реконструкции территории плитку можно снять и положить заново, заменить испорченные плитки.</p>
      </div>
      <div class="privilege__item">
        <h3>Экологичность</h3>
        <p>При производстве тротуарной плитки используются натуральные компоненты, материал не выделяет вредных для человека и живой природы веществ.</p>
      </div>
      <div class="privilege__item">
        <h3>Минимальное обслуживание</h3>
        <p>Плитку легко очистить от любых загрязнений простой водой, она не требует особого обслуживания и ухода.</p>
      </div>
      <div class="privilege__item">
        <h3>Множество декоративных возможностей</h3>
        <p>С помощью плитки можно создать практически любой рисунок, огромное количество вариантов оформления дорожек и территорий.</p>
      </div>
    </div>
  </div>
</section>

<section class="section application">
  <div class="container">
    <h2>Применение тротуарной плитки и брусчатки</h2>
    <p>Благодаря износостойкости, низкой истираемости и долговечности тротуарная плитка используется как покрытие для участков с высоким трафиком: набережных, тротуаров, пешеходных дорожек, скверов и площадей.</p>
    <p>Это незаменимый элемент благоустройства на частных территориях вокруг санаториев, летних террас, садов и парков. Часто тротуарная плитка используется и для ландшафтного дизайна загородных участков, дач, мощения парковок автомобилей, гаражных проездов, парков и садов.</p>
  </div>
</section>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/paving-slabs.js"></script>
{% endblock %}