@import '@/common/common.scss';
@import '@/components/page/page.scss';
@import '@/components/btn/btn.scss';
@import '@/components/form-control/form-control.scss';
@import '@/components/container/container.scss';
@import '@/components/header/header.scss';
@import '@/components/products-nav/products-nav.scss';
@import '@/components/ratings-block/ratings-block.scss';
@import '@/components/footer/footer.scss';
@import '@/components/mobile-fixed-panel/mobile-fixed-panel.scss';

@import '@/components/main/main.scss';
@import '@/components/breadcrumbs/breadcrumbs.scss';
@import '@/components/section/section.scss';
@import '@/components/panel/panel.scss';

.page__main {
  max-width: initial;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  gap: $col-padding;
  justify-content: center;

  &__item {
    padding: $col-padding;
    width: calc((100% - ($col-padding * 3))/4);
    text-align: center;

    @media screen and (max-width: $tablet) {
      width: calc((100% - ($col-padding * 2))/3);
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
    }

    a {
      display: block;
      width: 49px;
      height: 64px;
      background: url('../img/icons/icon-pdf.svg') center no-repeat;
      margin: 0 auto;
    }
  }
}