{% set bodyClass = 'product-page' %}
{% set contentClass = 'product-page__content' %}
{% set footerClass = 'footer-padding-bottom' %}
{% extends 'layouts/main.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/product-page.scss">
{% endblock %}

{% block content %}
  {% include '/components/left-nav/left-nav.twig' %}
  <main class="page__main main">
    {% include '/components/breadcrumbs/breadcrumbs.twig' %}
    {# Drupal markup #}
    <h1>Тротуарная плитка «Старинная мостовая»</h1>
    {# END Drupal markup #}
    <div class="main__heading product-page__heading product-heading">
      <a href="/catalog">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.825 9L9.425 14.6L8 16L0 8L8 0L9.425 1.4L3.825 7H16V9H3.825Z" fill="white"/>
        </svg>
      </a>
      <span class="product-heading__title">Старинная мостовая</span>
      <span class="product-heading__badge badge badge-info">Новинка</span>
    </div>

    {% include '/components/product-info/product-info.twig' %}
  </main>
{% endblock %}

{% block modals %}
  {% include '/components/mobile-fixed-panel/mobile-fixed-panel.twig' %}
  {% include '/components/feedback-modal/feedback-modal.twig' %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="module" src="/src/pages/product-page.js"></script>
{% endblock %}