@import '@/common/common.scss';
@import '@/components/page/page.scss';
@import '@/components/btn/btn.scss';
@import '@/components/form-control/form-control.scss';
@import '@/components/container/container.scss';
@import '@/components/header/header.scss';
@import '@/components/products-nav/products-nav.scss';
@import '@/components/ratings-block/ratings-block.scss';
@import '@/components/footer/footer.scss';
@import '@/components/mobile-fixed-panel/mobile-fixed-panel.scss';
// Only this page
@import '@/components/main/main.scss';
@import '@/components/breadcrumbs/breadcrumbs.scss';
@import '@/components/accordion/accordion.scss';
@import '@/components/table/table.scss';

.accordion {
  border-radius: $border-radius;

  &__header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__button {
    font-size: 18px;
  }
}

.btn-success {
  margin-top: 30px;
}