// Base
@import '@/components/base.scss';
// Other
@import '@/components/accordion/accordion.scss';
@import '@/components/table/table.scss';

.accordion {
  border-radius: $border-radius;

  &__header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__button {
    font-size: 18px;
  }
}

.btn-success {
  margin-top: 30px;
}