{% extends 'layouts/one-column.twig' %}
{% set title = 'Акции и спецпредложения' %}

{% block styles %}
  <link rel="stylesheet" href="/src/pages/sales.scss">
{% endblock %}

{% block content %}
<div class="section-sales">
  {% include '/components/breadcrumbs/breadcrumbs.twig' %}
  {# Drupal markup #}
  <h1>Акции и спецпредложения</h1>
  {# END Drupal markup #}
  <div class="media section-sales__block">
    <div class="media__img"><img src="/src/img/sales/sales-1.webp" alt=""></div>
    <div class="media__body">
      <p class="lead">Тротуарная плитка и декоративный камень <strong>на 2025 год по специальному предложению!</strong></p>
      <p class="text-align-justify">Каждый год в начале строительного сезона наблюдается значительный рост цен на цемент, пигменты, гранитный щебень, и вслед за этим производители стройматериалов вынуждены поднимать цены на свою продукцию. <strong>Если Вы сделаете заказ до 1 апреля  2025 года, то мы зафиксируем стоимость плитки в ценах 2024 года.</strong> При заказе нашей продукции Вам необходимо будет оплатить <strong>30%</strong> стоимости заказа, а оставшуюся сумму нужно будет оплатить до 1 апреля 2025 года. У Вас есть несколько месяцев, чтобы выбрать ту или иную коллекцию тротуарной плитки, определиться с цветом и вариантом укладки, а весной реализовать вашу мечту, полностью соответствующую Вашему вкусу и дизайнерскому решению. <strong>При 100 % оплате вашего заказы мы готовы сделать Вам специальное предложение.</strong></p>
    </div>
  </div>

  <div class="media section-sales__block">
    <div class="media__img">
      <img src="/src/img/sales/sales-4.webp" alt="">
    </div>
    <div class="media__body">
      <p class="lead"><strong>Распродажа склада!</strong></p>
      <p>Предлагаем Вам прибрести тротуарную плитку и декоративный камень со скидкой до 50 %. Плитка имеет отклонение в цвете и незначительные сколы диаметром до 10 мм, но на качество и характеристики плитки данные дефекты никак не влияют, но цена в два раза меньше, чем прайсовая. Данную плитку можно укладывать в местах, скрытых от посторонних глаз, где внешний вид покрытия не имеет принципиального значения, например: за домом, за баней, за беседкой, вдоль грядок, запасной вход или въезд.</p>
      <p>Также распродаются остатки плитки коллекций, снятых с производства.</p>
      <p>Подробности уточняйте у менеджеров по телефону.</p>
    </div>
  </div>

  <div class="section-sales__additional">
    <p class="lead"><strong>Дополнительная скидка</strong> на тротуарную плитку и декоративный камень предоставляется при выполнении одного из условий:</p>
    <div class="row">
      <div class="col">
        <img src="/src/img/sales/sales-3.webp" alt="">
        <p>Клиент заказывает дополнительную услугу - монтаж тротуарной плитки, декоративного камня</p>
      </div>
      <div class="col">
        <img src="/src/img/sales/sales-2.webp" alt="">
        <p>Клиент приобретает сопутствующие товары (лак для бетона, усиливающую пропитку, гидрофобизатор и т.д.)</p>
      </div>
      <div class="col">
        <img src="/src/img/sales/sales-5.webp" alt="">
        <p>Приводит в компанию Клиента (знакомого, соседа), который приобретает тротуарную плитку, декоративный камень, кованые изделия. В этом случае скидка 2 % предоставляется от суммы заказа приведенного клиента.</p>
      </div>
    </div>
  </div>
  <p class="lead">Во всех случаях скидка предоставляется при стоимости заказа от <strong>70 000 руб. и 100% предоплате</strong>.</p>
</div>
{% endblock %}