<div class="mobile-fixed-panel">
  <div class="mobile-fixed-panel__buttons">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#feedbackModal">Рассчитать стоимость</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal">Получить консультацию</button>
  </div>
  <div class="mobile-fixed-panel__info">
    {# <a class="btn btn-outline-default" href="https://wa.me/79272048887">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#01E675"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9971 5L15.0029 5.00017C20.5157 5.00017 25 9.4857 25 15.0001C25 20.5143 20.5157 25 15.0029 25C12.9693 25 11.0828 24.3946 9.50185 23.3481L5.65817 24.5766L6.90418 20.8612C5.70528 19.215 5 17.1869 5 14.9999C5 9.48554 9.48427 5 14.9971 5ZM12.2054 10.0795C12.0115 9.61512 11.8645 9.59753 11.5707 9.58558C11.4707 9.57978 11.3593 9.57397 11.2357 9.57397C10.8535 9.57397 10.4539 9.68563 10.2129 9.93251C9.91918 10.2323 9.19035 10.9318 9.19035 12.3663C9.19035 13.8008 10.2365 15.1882 10.3775 15.3824C10.5244 15.5761 12.417 18.5626 15.3555 19.7798C17.6535 20.7321 18.3354 20.6439 18.8584 20.5322C19.6224 20.3676 20.5804 19.803 20.8214 19.1213C21.0624 18.4392 21.0624 17.8572 20.9918 17.7337C20.9213 17.6103 20.7272 17.5399 20.4335 17.3928C20.1397 17.2458 18.7114 16.5403 18.441 16.4462C18.1765 16.3463 17.9239 16.3817 17.7242 16.6639C17.442 17.0578 17.1658 17.4576 16.9424 17.6985C16.7661 17.8867 16.478 17.9102 16.2371 17.8102C15.9139 17.6751 15.0089 17.3574 13.8921 16.3639C13.0281 15.5939 12.4404 14.6357 12.27 14.3477C12.0995 14.0539 12.2525 13.8831 12.3875 13.7245C12.5344 13.5422 12.6754 13.4129 12.8224 13.2424C12.9693 13.072 13.0516 12.9837 13.1457 12.7838C13.2457 12.5898 13.175 12.3899 13.1045 12.2429C13.034 12.0959 12.4464 10.6614 12.2054 10.0795Z" fill="white"/>
      </svg>
      <span>Написать нам в <strong>WhatsApp</strong></span>
    </a> #}
    <a class="phone" href="tel:88003021135">
      <span>Бесплатный звонок</span>
      <strong>8 800 302 1135</strong>
    </a>
  </div>
</div>