.jumbotron {
  height: 630px;
  color: white;
  text-align: center;
  position: relative;
  margin-top: -54px;
  padding-top: 54px;
  flex-shrink: 0;

  @media screen and (max-width: $mobile) {
    height: auto;
    padding: $gap 0;
    margin-top: 0;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1, .h1 {
    font-size: 48px;
    font-weight: 400;
    text-shadow: $text-shadow;

    @media screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  &__pluses {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: $gap 0;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__plus {
    font-size: 21px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
    width: 30%;

    @media screen and (max-width: $mobile) {
      flex-direction: row;
      align-items: center;
      text-align: left;
      gap: 15px;
      font-size: 18px;
      text-shadow: $text-shadow;
      font-weight: 400;
      width: auto;
    }

    img {
      width: 70px;
      height: 70px;

      @media screen and (max-width: $mobile) {
        width: 40px;
        height: 40px;
      }
    }
  }

  footer {
    display: flex;
    gap: $gap;
    justify-content: center;

    @media screen and (max-width: $mobile) {
      gap: 15px;
    }

    .btn-outline-default {
      color: $white;
      border-color: $white;
      @include transition(all);

      &:hover {
        background-color: $white;
        color: $blue-dark;
      }
    }
  }
}