@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-1.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-2.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-3.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-4.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-5.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-display: swap;
  src: url('@/assets/fonts/roboto-condensed-6.woff2') format('woff2');
}

h1, .h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 25px;
}

h3 {
  margin: 0;
  font-size: 20px;
}

a {
  color: $blue;
}
