<footer class="page__footer footer {{ footerClass }}">
  <section class="footer__top">
    <div class="container"></div>
  </section>
  <section class="footer__nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="footer-nav">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">Тротуарная плитка</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Вибролитьевая</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Вибролитьевой бордюрный камень</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Вибропрессованная</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Вибропрессованный бордюрный камень</a></li>
              </ul>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">Декоративный камень</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Декоративный кирпич</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Декоративные сланцы</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Обработанные камни</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Фасадные плиты</a></li>
              </ul>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">Услуги</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Укладка тротуарной плитки</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Доставка</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">Формы</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Формы для тротуарной плитки</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Формы для декоративного камня</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Формы для декоративных элементов</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Полиуретановые штампы</a></li>
              </ul>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">Пигменты и химические добавки</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Пигменты</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Пластификаторы</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Гидрофобизаторы</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Защитные пропитки</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Лак для бетона</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Противоморозные добавки</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Смазка для форм</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul class="footer-nav">
            <li class="footer-nav__item">
              <a class="footer-nav__link" href="">О компании</a>
              <ul class="footer-nav__submenu">
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Наши преимущества</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Наши сотрудники</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">ТВ проекты</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Сертификаты</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">Отзывы</a></li>
                <li class="footer-nav__submenu-item"><a class="footer-nav__submenu-link" href="">История компании</a></li>
              </ul>
            </li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="">Портфолио</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="">Прайс-листы</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="">Вопрос-ответ</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="">Обучение</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="">Контакты</a></li>
          </ul>
        </div>
        <div class="col">
          <address class="footer-contacts">
            <p><span>Адрес:</span> <span style="color: white;">443067, г. Самара, ул. Авроры 137</span></p>
            <p><span>Телефон:</span> <a class="nowrap" href="tel:88462000804">8 (846) 200 0804</a></p>
            <p><span>Мобильный:</span> <a class="nowrap" href="tel:+79272048887">+7 927 204 8887</a>, <a class="nowrap" href="tel:+79277072877">+7 927 707 2877</a></p>
            <p><span>Бесплатный телефон для регионов:</span> <a href="tel:88003021135">8 800 302 1135</a></p>
            <p><span>Email:</span> <a class="nowrap" href="mailto:flagston@mail.ru">flagston@mail.ru</a></p>
            <p><span>Режим работы офиса:</span> <span style="color: white;">пн. – пт. с 9.00 до 17.30<br>суббота c 10.00 до 14.00 (о работе в субботние дни уточняйте по телефону).</span></p>
            <p class="footer-contacts__social">
              <span>Мы в соц. сетях:</span>
              <span class="align-items-center">
                <a href="https://vk.com/flagstoun" target="newtab"><img src="/src/img/icons/vk.svg" width="14" alt="VK"></a>
                {# <a href="https://t.me/flag_stoun_samara" target="newtab"><img src="/src/img/icons/telegram.svg" width="14" alt="Telegram"></a> #}
                {# <a href="https://www.youtube.com/channel/UC7SMgsCK8Sp1Ymlrp0zcBrg" target="newtab"><img src="/src/img/icons/youtube.svg" width="14" alt="Youtube"></a> #}
              </span>
            </p>
          </address>
          <div class="footer-links">
            <a href="https://63plitka.ru/politika-konfidencialnosti" target="newtab">Политика конфиденциальности</a><br>
            <a href="https://63plitka.ru/polzovatelskoe-soglashenie" target="newtab">Договор оферты</a><br>
            <a href="https://63plitka.ru/cookies-policy" target="newtab">Правила использования Cookies</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__copyright footer-copyright">
    <div class="container">
      <div class="footer-copyright__copy">
        &copy; 2003 – <span class="js-current-year"></span> ООО «ПКФ «Флаг стоун Арт»
      </div>
      <script>
        const currentYearField = document.querySelector('.js-current-year');
        const date = new Date();
        const currentYear = date.getFullYear();
        currentYearField.textContent = currentYear;
      </script>
      <div class="footer-copyright__counters">
        <div style="width:88px;height:31px;background-color:black"></div>
        <div style="width:88px;height:31px;background-color:black"></div>
      </div>
    </div>
  </section>
</footer>