<div class="certificates">
  <p>В 2024 году наша компания, одна из немногих компаний в Самарской области, прошла <strong>обязательную сертификацию производимой продукции</strong>.</p>
  <figure>
    <a href=""><img src="/src/img/quality_certificate_2024.webp" alt=""></a>
    <figcaption>Сертификат соответствия</figcaption>
  </figure>
</div>