<aside class="page__aside">
  <nav class="left-nav" id="aboutNav">
    <ul class="left-nav__list">
      <li class="left-nav__item">
        <a href="#about" class="left-nav__link">О компании</a>
        <ul class="left-nav__submenu">
          <li class="left-nav__submenu-item"><a href="#advantages" class="left-nav__submenu-link">Наши преимущества</a></li>
          <li class="left-nav__submenu-item"><a href="#staff" class="left-nav__submenu-link">Наши сотрудники</a></li>
          <li class="left-nav__submenu-item"><a href="#tvProjects" class="left-nav__submenu-link">ТВ проекты</a></li>
          <li class="left-nav__submenu-item"><a href="#certificates" class="left-nav__submenu-link">Сертификаты</a></li>
          <li class="left-nav__submenu-item"><a href="#reviews" class="left-nav__submenu-link">Отзывы</a></li>
          <li class="left-nav__submenu-item"><a href="#history" class="left-nav__submenu-link">История компании</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>