@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/roboto-condensed-1.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-condensed-2.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-condensed-3.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/roboto-condensed-4.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-condensed-5.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-condensed-6.woff2') format('woff2');
}

h1, .h1 {
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  margin: 40px 0 20px;
  font-size: 25px;
}

h3 {
  margin: 30px 0 15px;
  font-size: 20px;
}

p {
  margin: 0 0 $col-padding;

  &.lead {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.2;

    strong {
      font-weight: 700;
    }
  }
}

a {
  color: $blue;

  &.lnk-dashed {
    text-decoration: none;
    border-bottom: 1px dashed $blue;
  }

  &.lnk-download {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    svg {
      path {
        fill: $blue;
      }
    }
  }
}

blockquote {
  padding: 10px 0 10px 20px;
  border-left: 5px solid $border-color;
  margin: 0;

  footer {
    color: $blue-light;
    font-size: 90%;
    line-height: 1;

    &:before {
      content: '\2014 \00A0';
    }
  }
}

figure {
  margin: 0;
  text-align: center;

  figcaption {
    margin: 5px 0 0;
    font-style: italic;
    text-align: center;
    font-size: 14px;
  }
}
