<div class="cookie-block">
  <div class="container">
    <p>Мы используем файлы cookie для улучшения работы сайта. Вы можете отключить их в настройках вашего браузера. Оставаясь на сайте, вы соглашаетесь с нашей <a href="https://63plitka.ru/cookies-policy" target="newtab">политикой использования файлов cookie</a>.</p>
    <button class="btn btn-primary js-cookie-button">Я даю согласие</button>
  </div>
</div>